{% extends "dashboard_base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block dashboard %}
<style>
            .bg
            {
          background: url("{% static 'img/i2.jfif' %}");
          background-size: 100% 100%;
          color:white;
     
            }
            .shadow{
            box-shadow: 10px 10px 8px #888888;
            }
            .my{
            box-shadow: 10px 10px 8px #888888;
            box-sizing: border-box;
            padding: 30px;  
            border: 3px solid #888888;;

        }
    </style>

<div class="container bg ">
    <div class="row shadow shadow-lg ">
        <div class="col-md-6 mx-auto my-4 mb-3 my">
            <h1 style="
            color:white;
           
            height:100px;
            Width:100%;
            line-height:100px;">Add Course</h1>
            <form  method="post" enctype="multipart/form-data" class="shadow">
                {% csrf_token %}
                {% bootstrap_form form %}
                <input type="submit" value="Add course" class="btn btn-success jva">
            
            </form>
        </div>

    </div>

</div>
{% if status %}
<script>
    alert("{{staus}}");
    window.location = "/my_course/"
</script>

{% endif %}
{% endblock %}