{% extends "base.html"%}
{% load static%}
{% block myblock%}
<style>
        .bg{
            background: url("{% static 'img/pen1.jpg' %}");
         background-size: cover;
        }
        .inside{
            position: absolute;width: 70%;height: 30%;
        }
        .out{
            position: relative;margin-left: 65%;margin-top: 2.5px;
        }
        .bg1{
            background: rgba(0,0,0,0.1);
        }
        .myimg{
           height: 300px;
        }
        .hover:hover{
            box-shadow: 0px 0px 10px black;
            padding: 10px;
        }
        i{
            color:green;
        }
   /* @media screen and (min-width:100%){
                .box{
                      width: 100%;
   } 
   @media screen and (max-width:700px){
        .box{
            width:100%;
        }  */
    </style>
    
   


    <div class="container-fluid bg">
        <form action="{% url 'allcourse'%}">
        <div class="row text-white" style="background: rgba(0,0,0,0.5); padding: 50px 0px;">
            
            <div class="col-md-6 px-5">
                {%if abcd%}
                <h1>Total ({{courses|length}}) Course Found</h1>
                {% else %}
                <h1>All Courses ({{courses|length}})</h1>
                {% endif %}
                <p>6,178 courses found</p>
                </div>
                
                <div class="col-md-6 px-5" style="padding: 50px;">
                <input type="text" name="qry" placeholder="What do you want to learn" class="form-control inside" >
                <button type="submit" class="btn btn-primary out">Search &gt;</button>
            </div>
        
                
        </div>
        </form>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 my-5">
                <div>
                    <select class="form-control" style="display: inline-block; width: 35%;">
                        <option>SELECT CATEGORY</option>
                        <option>PYTHON</option>
                        <option>HTML</option>
                        <option>CSS</option>
                        <option>BOOTSTRAP</option>
                        <option>JAVA SCRIPT</option>
                        <option>JAVA QUERY</option>
                    </select>
                    <select class="form-control" style="display: inline-block; width: 35%;">
                    <option>FILTERS</option>
                    <option>BEST SELLING</option>
                    <option>TRENDING</option>
                    <option>NEWEST</option>
                    <option>TOP RATED</option>
                    <option>HIGH PRICE</option>
                    <option>LOW PRICE</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6 my-5 mx-auto">
                <div>
                    <select class="form-control" style="display: inline-block; width: 35%;">
                        <option>ITEM PER PAGE</option>
                        <option>4</option>
                        <option>8</option>
                        <option>12</option>
                        <option>16</option>
                        <option>20</option>
                        <option>24</option>
                        </select>
                       <div class="form-control" style="display: inline-block; width: 15%;">
                        <i class="fas fa-th-large"></i> <i class="fas fa-bars"></i>
                        </div>
                       
                </div>
            </div>
        </div>
    </div>
     
          <div class="container-fluid bg1">
              <div class="row">
            {% for i in courses%}
            
            <div class="col-md-4 my-5">
                <div class="card-header hover">
                    <img src="/media/{{i.course_image}}" class="card-img" alt="" style="height: 300px;">
                </div>
                <div class="card-body" style="background: white;">
<h3 class="card-title"> <a href="{% url 'single'%}?pid={{i.id}}">{{i.course_name}}</a></h3>
<p class="card-text" ><i class="far fa-user"></i>{{i.users}}</p>
<p><i class="fas fa-star" style="color: yellow;"></i><i class="fas fa-star" style="color: yellow;"></i><i class="fas fa-star" style="color: yellow;"></i><i class="fas fa-star" style="color: yellow;"></i><i class="fas fa-star" style="color: yellow;"></i> 5 (4578)</p>
                </div>
                <div class="card-footer" style="background:white">
                    <h6 style="color:green; float:right;">
                    <span><del>${{i.course_price}}</del></span>
                    <span>${{i.sale_price}}</span>
                    </h6>

                    <p> <i class="fas fa-headphones-alt"></i> 46 lectures</p>
                    <p> <i class="far fa-clock"></i> 27.5 hours</p>
                    <form action="{% url 'cart'%}" method="post">
                        {% csrf_token %}
                        <input type="hidden" value="{{i.id}}" name="pid">
                        <input type="hidden" value="1" name="qty">
                        <button type="submit" class="btn btn-warning btn-block">
                            <i class="fa fa-shopping-cart"></i>
                            Add to Cart
                        </button>

                    </form>
                </div>
            </div>
            {% endfor %}
            
        </div>
        
          
     </div>
    

{% endblock %}