<!DOCTYPE html>
{% load static %}
<html lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Pioneer Python</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href=" {% static 'icons/css/all.min.css'%}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
   
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="{% static 'favicon.ico'%}">

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
	
	
	 <link rel="stylesheet" href="{% static 'css/animate.css'%}">
	
	 <link rel="stylesheet" href="{% static 'css/icomoon.css'%}">
	
	<link rel="stylesheet" href="{% static 'css/superfish.css'%}">

	


	
	<script src="{%static 'js/modernizr-2.6.2.min.js'%}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
	

    
    
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700%7CWork+Sans:400,500">
    
     
    
    
    <script src="{% static 'jquery/jquery.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

    
  
   

    
    
    
    <head>
 <style>
        body{
            padding: 0px;
            margin: 0px;
        }
      .header{
          text-align: center;
          line-height: 50px;
          color:white;
      }
      a{
          color:gray;   
      }
      a:hover{
        
        color:green;
      }
      /* #nav{
          position:sticky;
          top:0%;
         }
     */
         h5{
            border-bottom:3px solid #4caf50;
             margin-bottom: 50px;
             padding:  20px 0; color:white;
             
             }
       
     .footer{
         background-color: rgba(0, 0, 0, 1);
            color:white;
           
            height:100px;
            Width:100%;
            line-height:100px;
        }
          
        .z{
            position:relative; background-color: #4caf50;
            border-radius: 0 5px 5px 0;
            color:white; padding: 15px; border:none; float:right;
           
        } 
       .icon i{
            padding:10px;
            background-color:darkgray;
            border-radius: 50%; color:white;
        }
        .icon i:hover{
            background-color:#4caf50;
        }
        i{
            padding:5px; font-size:20px ;
            color:darkgray
        }
          .var{margin-bottom:107px}
          .page{
              word-spacing: 10px;
          }
          .icons i{
            padding:10px;
            background-color:darkgray;
            border-radius: 50%; color:white;
        }
        .icons i:hover{
            background-color:#4caf50;;
        }
      .page a:hover{
        background-color:#4caf50;;
      }
      .navbar-toggler-icon{
          font-size: 1.25rem;
          line-height:1 ;
          background-color:#4caf50;
          border: 1px solid black;
          border-radius: .25rem;
          height: 5px;
          display: block;
          width:20px;

      }
      .navbar-toggler{
          padding: 0;
          margin-right: 10px;
      }
      
    </style>

</head>
<body>
   <div class="container-fluid">
       <div class="row header bg-dark">
       <div class="col-sm-5">
       <nav class="sticky-top">
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button> -->
        <i class="far fa-envelope"></i>
           <a href="{% url 'home' %}">support@pioneerpython.com</a>
           <i class="fas fa-headphones"></i>
           <a href="{% url 'home'%}">+91 9888832458</a>
       </nav>
       </div>
        <div class="col-sm-3 icons">
       <a href="https://twitter.com/"><i class="fab fa-twitter-square"></i></a>
       <a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a>
       <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
       <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
                                
       </div>
       
        <div class="col-sm-4 page">
            {% if user.is_authenticated %}
            <a href="" class="btn  btn-outline-light yz">Welcome {{user.username}}</a>
            <a class=" btn  btn-outline-light  yz  m-2  " href="{% url 'user_logout' %}" ><i class="fas fa-sign-out-alt text-white"></i>Logout</a>
            {% else %}
           <a class=" btn  btn-outline-light yz mb-1" href="{% url 'login' %}" ><i class="fas fa-power-off  text-white"></i>Login</a>
           <a class=" btn  btn-outline-light yz mb-1" href="{% url 'registration' %}" ><i class="fas fa-folder-plus text-white"></i>Register</a>
    </div>
    {% endif %}
   </div>
</div>
   <div class="container-fluid"> 
    <div class="row" id="nav">
        <div class="col-md-12 px-0" >
            <nav class="sticky-top navbar navbar-expand-md  bg-white " >
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span  class="navbar-toggler-icon"></span>
                    <span  class="navbar-toggler-icon"></span>
                    <span  class="navbar-toggler-icon"></span>
                  </button>
              
               
    <a href="#" class="navbar-brand">
       <img <img src="{% static 'img/loggo1.jpg'%}" style="background: rgba(255, 255, 255, 0.9);">
    </a>
    
    <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
        <div class="navbar-nav mx-auto">
            
                  <a href="{% url 'home' %}" class="nav-item nav-link active">Home</a>
                  <a href="{% url 'about' %}" class="nav-item nav-link active">About</a>
                  <a href="{% url 'contact' %}" class="nav-item nav-link active">Contact Us</a>
                  <a href="{% url 'allcourse' %}" class="nav-item nav-link active">All Courses</a>
                  
                  {% if user.is_staff%}
                  <a href="{% url 'instructorprofile'%}" class="nav-item nav-link active">Instructor's profile</a>
                  
                  <a href="{% url 'courses'%}" class="nav-item nav-link active">Instructor's courses</a>
                  {% endif%}
                  {% if not user.is_staff%}
                  <a href="{%url 'wish' %}" class="nav-item nav-link active">Student's profile</a>
                  <!--<a href="{% url 'edit' %}" class="nav-item nav-link active">Edit profile</a>-->
                  <!-- <a href="{% url 'password' %}" class="nav-item nav-link active">Reset Password</a>-->
                  
                  <a href="{% url 'cart'%}"><i class="fas fa-shopping-cart" style="font-size:30px" aria-hidden="true"></i></a>
                  <a href="{% url 'allcourse' %}"><i class="fas fa-search"style="font-size:30px" aria-hidden="true"></i></a>
                  {% endif%}
                  <!--<li class="nav-item dropdown">
                      <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown">categories</a>
                      <div class="dropdown-menu">
                          {% for c in category %}
                          <a href="" class="dropdown-item">{{c.name}}</a>
                          {% endfor %}

                      </div>

                  </li>-->
        </div>
        </div>
</nav>
   </div>
    </div>
   </div> 
   {% block myblock %}

   {% endblock %}
 
         
 <div class="container-fluid text-muted px-1 " style="background:rgba(0, 0, 0, 0.9);">
     <div class="row ">
         <div class="col-md-3">
             <h5>Pioneer Python</h5>
             <p class="text-justify">The pain you feel today is the strength you will feel tomorrow.For every challenge encountered there is oppotunity for growth.</p>
                <div class="icon">
                    <a href="https://twitter.com/"><i class="fab fa-twitter-square"></i></a>
                    <a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a>
                    <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
                    
                </div>  
                </div>
           <div class="col-md-3">
               <h5>Contact Us</h5>
                  <a href=""><i class="fas fa-headphones"></i>800 579.987.579</a><br/>
                   <a href="{% url 'home' %}"><i class="far fa-envelope"></i>support@pioneerpython.com</a >
                     <p><i class="fas fa-map-marker-alt"></i>184 Main Collins Street<br/>Chicago,United States</p>                        
           </div>
             <div class="col-md-3">
                 <h5>Quick links</h5>
                 <p><a href="{% url 'home'%}">Home</a></p>
                 <p><a href="{% url 'about'%}">About </a></p>
                 <p><a href="{% url 'contact'%}">Contact Us</a></p>
                 <p><a href="{% url 'allcourse'%}">All Courses</a></p>
                
             </div>
               <div class="col-md-3">
                    <h5>Newslatter</h5>
                    <p>Subscribe to get update and information.<br/>Don't worry, we won't send spam!</p>
                  <form class="var">
                    <input type="text" placeholder="Enter your email" style="padding:15px;border-radius: 5px;border:none;
                    position:absolute;width:80%;">
                
                    <button class="z">Subscribe</button>
                </form> 
                </div>
               </div>
            </div>
        </div>
        <div class="container-fluid footer">
            <div class="col-md-12 align-center">
                <div class="footer text-center">& copyright 2020 .All rights reserved</div>
            </div>
        </div>
               
 
        <script src="{% static 'js/jquery.min.js'%}"></script>
        <!-- jQuery Easing -->
        <script src="{% static 'js/jquery.easing.1.3.js'%}"></script>
        <!-- Bootstrap -->
        <script src="{% static 'js/bootstrap.min.js'%}"></script>
        <!-- Waypoints -->
        <script src="{% static 'js/jquery.waypoints.min.js'%}"></script>
        <script src="{% static 'js/sticky.js'%}"></script>
    
        <!-- Stellar -->
        <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
        <!-- Superfish -->
        <script src="{% static 'js/hoverIntent.js' %}"></script>
        <script src="{% static 'js/superfish.js' %}"></script>
        
        <!-- Main JS -->
        <script src="{% static 'js/main.js' %}"></script>
    
    
</body>

</html>
