{% extends "base.html"%}
{% load static %}
{% block myblock%}
<style>
.cart td{
    width:20%;
        
}
    
h1{
    text-align: center;
    box-shadow: 10px 10px 8px #888888;
            box-sizing: border-box;
            padding: 30px;  
            border: 3px solid #888888;;
            background: url("{% static 'img/i2.jfif' %}");
          background-size: 100% 100%;
          color:white;
          transition-delay: 1s;
}
</style>
{% if not user.is_authenticated%}
<h1  class=" w3-animate-zoom" name="example">{{status}}</h1>
{%else%}
{% if user.is_superuser %}

<h1 class="jumbotron my-3">YOU ARE NOT ALLOWED HERE</h1>
{% else %}
{% if items|length == 0 %}
<div class="container-fluid">
    <div class="jumbotron alert alert-danger text-center" style="font-size:xx-large;">
        &times; Your Shopping Cart is empty!!!
    </div>

</div>
{% else %}

<div class="container-fluid" style="background: url(/static/img/i3.jfif); background-size: 100% 100%; padding-top:60px;padding-bottom: 50px;">
    
         <div class="row py-5 align-item-center">
              <div class="col-md-12 py-2 text-center text-white my-2 ">
                       {% if status %}
                       <h1>{{status}}</h1>
                       {% else %}
                      <h1>MY CART({{items|length}})</h1>
                        {% endif %}
              </div>
         </div>
    </div>
    {% if user.is_authenticated %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-9 my-5" >
            <div style="box-shadow: 0px 0px 10px gray;"></div>
            {% if msz %}
            <div class="{{cls}} mt-3" >{{msz}}</div>
            {% endif %}

            <table class="table cart">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Course Name</th>
                        <th>Course Price</th>
                        <th>Quantity</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in items %}
                        <tr id="row{{i.id}}">
                            <td><img src="/media/{{i.course.course_image}}" height="100" width=></td>
                            <td>{{i.course.course_name}}</td>
                            <td>&#8377;<del id="pp{{i.id}}">{{i.course.course_price}}</del><br> &#8377;<span id="sp{{i.id}}}">{{i.course.sale_price}}</span> </td>
                            <td>
                                <div class="row">
                                    <div class="col-md-3">
                                        <i class="fa fa-plus bg-success p-1 text-light rounded-circle" onclick="change_quan('{{i.id}}','plus')"></i>

                                    </div>

                                
                                <div class="col-md-6">
                                <input type="number" value="{{i.quantity}}" class="form-control" id="cart{{i.id}}">
                            </div>
                            <div class="col-md-3">

                            
                                <i class="fa fa-minus bg-danger p-1 text-light rounded-circle" onclick="change_quan('{{i.id}}','minus')"></i>
                            </div>
                        </div>
                            </td>
                            <td><button onclick="remove_cart('{{i.id}}')" class="btn btn-danger">&times; Remove</button></td>
                        </tr>
                    {% endfor %}
                </tbody>
            
            </table>
        
        </div>

        <div class="col-md-3 my-5"  style="box-shadow: 0px 0px 10px gray;">
        
            <h2 class="text-center">CHECKOUT</h2>
            <table class="table "> 
        
                <tr>
                    <td>ITEM TOTAL</td>
                    <td id="item_total"></td>

                </tr>
                <tr>
                    <td>OFFERED PRICE</td>
                    <td id="disc"></td>

                </tr>
               
                
                <tr>
                    <td>YOU SAVED</td>
                    <td id="offer"></td>

                </tr>
                <tr>
                    <td>DELIVERY</td>
                    <td>FREE</td>

                </tr>
                
                <tr>
                    <td>GRAND TOTAL</td>
                    <td id="grand_total"></td>

                </tr>
            
            
            </table>
            <div>
                <div class="p-3">
                    <a href="{% url 'process_payment' %}" class="btn btn-success btn-block btn-sm">PROCEED TO PAY<span id="btamt"></span></a>
            </div>
        </div>
                
        </div>
        </div>
    
    </div>

</div>
<script>
    function grandTotal(){
        $.ajax({
            url:"{% url 'get_cart_data'%}",
            type:'get',
            success:function(data){
                p= Math.round(100-((data.offer/data.total)*100),2)
                save = data.total-data.offer;
                $("#item_total").html("&#8377;"+data.total);
                $("#disc").html("&#8377;"+data.offer);
                $("#offer").html("&#8377;"+save+"<span class='text-success'>("+p+"%)</span>");
                $("#grand_total").html("&#8377;"+data.offer);
                $("#btamt").html("&#8377;"+data.offer);
            } 

        })
    }
    grandTotal();


    function change_quan(id,action){
       
        let old = $("#cart"+id).val();
        
        quan = 0
        if(action=="plus"){
            quan += parseInt(old)+1
        }else{
            quan += parseInt(old)-1
        
        }
        $("#cart"+id).val(quan);
        
        $.ajax({
            url:"{% url 'change_quan' %}",
            type:"get",
            data:{cid:id,quantity:quan},
            success:function(data){
                   grandTotal();
                // n = $("#pp"+id).html()*quan;
                // ns = $("#sp"+id).html()*quan;
                // $("#pp"+id).html(n)
                // $("#sp"+id).html(ns)
                 if(data==0){
                    remove_cart(id);
                
            }
        }
        })

       }
       function remove_cart(id){
           $.ajax({
               url:"{% url 'change_quan' %}",
               data:{delete_cart:id},
               success:function(data){
                    grandTotal();
                    $("#row"+id).hide();
               }
           })
       }
</script>

{% endif %}


{%endif%}
{% endif %}
{% endif %}
{% endblock %}