{% extends "dashboard_base.html"%}
{% load static %}
{% block dashboard %}

<style>
        .bg1{
            background: rgba(0,0,0,0.1);
        }
        .bg{
        background: url("{% static 'img/pen1.jpg' %}"); background-size: cover;
    }
        
    </style>
   <div class="container-fluid bg">
    <div class="row text-white" style="background: rgba(0,0,0,0.5); padding: 50px 0px;">
        <div class="col-md-6 px-5">
             <h1>Courses</h1>
             <p>Home &gt;&gt; Pages &gt;&gt; User &gt;&gt; Student Profile</p>
            </div>
            </div>
         </div>

   <div class="container-fluid bg1 my-5 bg-light">
                <div class="row">
                  <div class="col-md-4 my-5">
                    <div class="card-header" style="color:black;background: white;">
                        
                        {% if data.profile_pic %}
                            <img src="/media/{{data.profile_pic}}" class="card-img" alt="" style="border-radius:50%;">
                        {% else %}
                          <img src="{% static 'img/myp.png'%}"  name="image" class="card-img" alt="" style="border-radius:50%;height: 250px;width: 250px;">
                        
            
                          {% endif %}
                       
                          <h3 class="card-title text-center">{{user.first_name}} {{user.last_name}}</h3>
      <p class="card-text text-center" >{{user.occupation}}</p>
        <ul class="list-inline" style="word-spacing: 50px; margin-top: 40px;">
         <li class="list-inline-item"><i style="color: green;margin-left: 35px;" class="far fa-user"></i>
          <h4>Students</h4>
          <p>147560</p></li>
           <li class="list-inline-item"><i style="color: green;margin-left: 35px;" class="fas fa-book-open"></i>
            <h4>Courses</h4>
            <p style="margin-left: 30px;">27</p></li>
               <li class="list-inline-item"><i style="color: green;margin-left: 35px;" class="far fa-star"></i>
                <h4>Reviwes</h4>
                <p>10467</p></li>
                </ul>
                   </div>
                      <div class="card-body" style="background:white">
                        <p>Email Address:</p>
                        <h4>{{user.email}}</h4>
                        <p>Phone:</p>
                        <h4>{{data.contact_number}}</h4>
                        <p>Location:</p>
                        <h4>{{data.city}}</h4>
                            
                    </div>
                      <div class="card-footer" style="background: white;">
                      <p style="font-size:20px;">Social Profile</p>
                      <div style="font-size: 50px;word-spacing: 40px;">
                          <i  style="color: blue;" class="fab fa-facebook"></i>
                      <i style="color: skyblue;" class="fab fa-twitter-square"></i>
                      <i style="color: red;" class="fab fa-google-plus"></i>
                      <i style="color: turquoise;" class="fab fa-instagram"></i>
                    </div>
                      </div>
                  </div>
                      <div class="col-md-4 my-5">
                        <div class="card-header">
                            <img src="{% static 'img/python.jpg'%}" class="card-img" alt="" style="height: 300px;">
                        </div>
                        <div class="card-body" style="background: white;">
        <h3 class="card-title">To Know About Python</h3>
        <p class="card-text" ><i class="far fa-user"></i> Andrew Mead</p>
        <p><i class="fas fa-star" style="color: yellow;"></i><i class="fas fa-star" style="color: yellow;"></i><i class="fas fa-star" style="color: yellow;"></i><i class="fas fa-star" style="color: yellow;"></i><i class="fas fa-star" style="color: yellow;"></i> 5 (4578)</p>
                        </div>
                        <div class="card-footer" style="background:white">
                            <h2 style="color:green; float:right;">$180</h2>
                            <p> <i class="fas fa-headphones-alt"></i> 46 lectures</p>
                            <p> <i class="far fa-clock"></i> 27.5 hours</p>
                            
                        </div>
                        <div class="card-header my-5">
                            <img src="{% static 'img/css.jfif'%}" class="card-img" alt="" style="height: 300px;">
                        </div>
                        <div class="card-body" style="background: white;">
        <h3 class="card-title">Design The Page By Writing</h3>
        <p class="card-text"> <i class="far fa-user"></i> Anthony Broks</p>
        <p> <i class="fas fa-star" style="color: yellow;"></i><i class="fas fa-star" style="color: yellow;"></i><i class="fas fa-star" style="color: yellow;"></i><i class="fas fa-star" style="color: yellow;"></i><i class="fas fa-star" style="color: yellow;"></i> 5 (4578)</p>
                        </div>
                        <div class="card-footer" style="background: white;">
                            <h2 style="color:green; float:right;">$375</h2>
                            <p> <i class="fas fa-headphones-alt"></i> 46 lectures</p>
                            <p> <i class="far fa-clock"></i> 27.5 hours</p>
                            
                        </div>
                      </div>
                      <div class="col-md-4 my-5">
                            <div class="card-header">
                                <img src="{% static 'img/html-head.jpg'%}" class="card-img" alt="" style="height: 300px;">
                            </div>
                            <div class="card-body" style="background: white;">
            <h3 class="card-title">Lets Design The Pages</h3>
            <p class="card-text" ><i class="far fa-user"></i> Andrew Mead,John Deo</p>
            <p> <i class="fas fa-star" style="color: yellow;"></i><i class="fas fa-star" style="color: yellow;"></i><i class="fas fa-star" style="color: yellow;"></i><i class="fas fa-star" style="color: yellow;"></i><i class="fas fa-star" style="color: yellow;"></i> 5 (4578)</p>
            
                            </div>
                            <div class="card-footer" style="background: white;">
                                <h2 style="color:green; float:right;">$10</h2>
                                <p><i class="fas fa-headphones-alt"></i> 46 lectures</p>
                                <p><i class="far fa-clock"></i> 27.5 hours</p>
                                
                            </div>
                            <div class="card-header my-5">
                                <img src="{% static 'img/bootstarp.png'%}" class="card-img" alt="" style="height: 300px;">
                            </div>
                            <div class="card-body" style="background: white;">
                <h3 class="card-title">Layout The Design</h3>
                <p class="card-text"> <i class="far fa-user"></i> Asif vai</p>
                <p> <i class="fas fa-star" style="color: yellow;"></i><i class="fas fa-star" style="color: yellow;"></i><i class="fas fa-star" style="color: yellow;"></i><i class="fas fa-star" style="color: yellow;"></i><i class="fas fa-star" style="color: yellow;"></i> 5 (4578)</p>
                            </div>
                            <div class="card-footer" style="background: white;">
                                <h2 style="color:green; float:right;">$180</h2>
                                <p> <i class="fas fa-headphones-alt"></i> 46 lectures</p>
                                <p> <i class="far fa-clock"></i> 27.5 hours</p>
                    </div>
                            </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12 text-center">
                                  <button class="btn btn-outline-success">Load More</button>
                              </div>
                          </div>
                      </div>
                      
                  
                  

    
{% endblock %}