<div class="carousel slide" data-ride="carousel" id="myslider">
    <ul class="carousel-indicators">
        <li data-target="#mslider" data-slide-to="0" class="active" ></li>
        <li data-target="#myslider" data-slide-to="1" ></li>
        <li data-target="#myslider" data-slide-to="2"></li>
        <li data-target="#myslider" data-slide-to="3"></li>
        <li data-target="#myslider" data-slide-to="4"></li>
        <li data-target="#myslider" data-slide-to="5"></li>
        <li data-target="#myslider" data-slide-to="6"></li>
        
    </ul>
    <div class="carousel-inner">
        
            <div class="carousel-item active">
            <img src="{% static 'sgu.png'%}" height="600" width="100%">
        </div>
        <div class="carousel-item">
         <img src="{% static 'sgu1.jpg'%}" height="600" width="100%">
        </div>
        <div class="carousel-item">
            <img src="{% static 'sgu2.jpg'%}" height="600" width="100%">
        </div>
        <div class="carousel-item">
            <img src="{% static 'sgu3.jpg'%}" height="600" width="100%">
        </div>
        <div class="carousel-item">
            <img src="{% static 'sgu4.jpg'%}" height="600" width="100%">
        </div>
        <div class="carousel-item">
            <img src="{% static 'sgu5.jpg'%}" height="600" width="100%">
        </div>
        <div class="carousel-item">
            <img src="{% static 'sgu6.jpg'%}" height="600" width="100%">
        </div>
       
    </div>
    </div>
</div>