{% extends "base.html"%}
{%load static%}
{%block myblock%}

{% if user.is_superuser %}
<style>
    .bg{
        background:url(/static/img/c1.3.jpg); background-size: 100% 100%;
    }
    .collapse navbar-collapse  a:hover {
  color: #f1f1f1;
}

</style>
<div class="container ">
    <div class="row ">
        <div class="col-md-12 ">
            <div class="container-fluid bg-cover mb-4   "  data-dark-overlay="6" style="background:url(/static/img/c5.jpg); background-size: 100%  100%; padding-top: 100px; padding-bottom: 75px;">
                <h1 style="background-color: antiquewhite;">sorry Mr./Miss {{user.username}} you are not allowed here</h1>
            </div>

           

        </div>

    </div>

</div>
{% else %}
<div class="container-fluid bg" >
    <div class="row bg " >
        <!--left side menu-->
        <div class="col-md-2 bg-dark" id="main" >
            
             
                
            <div class="mt-2" style="color:black; background: white;">
                {% if data.profile_pic %}
                    <img src="/media/{{data.profile_pic}}" class="card-img" alt="" style="border-radius:50%;">
                {% else %}
                  <img src="{% static 'img/profile.jpg'%}" class="card-img" alt="" style="border-radius:50%;">
                {% endif %}
               </div>
               
               
            <nav class="navbar  sticky-top" >
                <a href="" class="navbar-brand text-white">My Profile
                    <p>{{user.username}}</p>
                   
                </a> <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#nv">
                    <span class="navbar-toggler-icon "></span>
                    <span class="navbar-toggler-icon "></span>
                    <span class="navbar-toggler-icon "></span>
                </button>
               
                
                
                 <div class="collapse navbar-collapse"  id="nv">
                
                <ul class="navbar-nav" >
                    <!-- <li class="nav-item">
                        <a href="{% url 'instructorprofile' %}" class="nav-link">Instructor profile</a>

                    </li> -->
                      
                    
                    
                    {% if user.is_staff %}
                    <li class="nav-item">
                        <a href="{% url 'instructorprofile' %}" class="nav-link "><i class="fas fa-user-tie text-white"></i> Instructor Profile</a>
                    </li>
    
                    <li class="nav-item">
                        <a href="{% url 'add_course_view' %}" class="nav-link"><i class="fas fa-plus-circle text-white"></i>Add Course</a>
                        
                    </li>

                    <li class="nav-item">
                        <a href="{% url 'my_course' %}" class="nav-link"><i class="fas fa-book text-white"></i> My Course</a>

                    </li>
                    <li class="nav-item">
                        <a href= "{% url 'sendmail'%}" class="nav-link"><i class="far fa-envelope text-white"></i>Send Email</a>

                    </li>
                   
                   {% endif %}
                   <!-- <li class="nav-item">
                        
                    <a href="{% url 'courses'%}" class="nav-link "><i class="fas fa-book-reader"></i>courses</a>
                    
                </li> -->
                <li class="nav-item">
                    <a href="{% url 'cart'%}" class="nav-link"> <i class="fas fa-shopping-cart text-white"></i>My Cart</a>

                </li>
                <li class="nav-item">
                    <a href="{% url 'order_history'%}" class="nav-link"><i class="fas fa-folder-plus text-white"> </i>Order History</a>

                </li>
               
                   
                    <li class="nav-item">
                        
                       
                        <a href="{% url 'instructorprofile' %}" class="nav-link"> <i class="fas fa-user text-white"></i>View profile</a>
                        
                    </li>
                    
                    
                    <li class="nav-item">
                        <a href= "{% url 'edit'%}" class="nav-link"><i class="fas fa-user-edit text-white"></i> Edit Profile</a>

                    </li>
                   
                    <li class="nav-item">
                        <a href="{% url 'password' %}" class="nav-link"><i class="fas fa-lock text-white"></i>Reset Password</a>

                    </li>
                    
                    

                </ul>
                 </div>
                
            </nav>
        </div>
        
        
        
        <!--right side menu-->
        <div class="col-md-10 px-0">
            {% block dashboard%}
            {% endblock%}
        </div>

    </div>

</div>
    
{% endif %}
{% endblock%}