{% extends "dashboard_base.html" %}
{% load static%}
{% block dashboard %}
<style>
    .bg
            {
          background: url("{% static 'img/i2.jfif' %}");
          background-size: 100% 100%;
          color:green;
          font-size: large;
                
          
     
            }
            .shadow{
            box-shadow: 10px 10px 8px #888888;
            box-sizing: border-box;
            padding: 5px;  
                            
            }
            
                        
                
            
     
</style>
<div class="container-fluid bg shadow shadow-lg">
    <div class="row shadow shadow-lg">
        <div class="col-md-6 mx-auto p-4 shadow shadow-lg">
            <div class="card shadow shadow-lg">
                <div class="card-body shadow shadow-lg">

                <h3 class="text-danger shadow shadow-lg" style="border: 1px solid red;">
                Are You Shure You Want to Delete?
                </h3>
               <img class="shadow shadow-lg" src="/media/{{course.course_image}}" height="200" width="100%">
               <h4>{{course.course_name}}</h4>
               <div class="mt-4 ">
               <a  href="{% url 'delete_course'%}?pid={{course.id}}&&action=confirm" class="btn btn-danger px-2 ">Confirm Delete</a>
               <a  href="{% url 'my_course'%}" class="btn btn-success px-2 mx-2">Cancel</a>
                   </div>

                </div>

            </div>

        </div>

    </div>

</div>
{% if status %}
<script>
    alert("{{status}}");
    window.location = "/mycourse/"
</script>
{% endif %}
{% endblock %}