<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First pg</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">
    <style>
        .background{
            background: url("{% static 'img/n.jpg'%}");background-size: 100% 100%;
        }
    </style>
</head>
<body>
  <div class="container-fluid">
      <div class="row background">
          <div class="col-md-12 text-light  py-5 text-center" style="background: rgba(0,0,0,0.5)">
              <h1>My Website</h1>

          </div> 
           
      </div>
<div class="row">
    <div class="col-md-4 p-5">
        <div class=p-3 style="box-shadow: 0px 0px 20px black;">
            <img src="{% static 'img/pro.jpg'%}"height="200" width="100%">
            <h4>lorem ipsum</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam eum, nemo aliquam neque asperiores earum ipsa? Voluptate ullam, voluptas nam fugiat cupiditate maxime, dolore laboriosam cumque numquam quae provident maiores.</p>
        </div>

    </div>
    <div class="col-md-4 p-5">
        <div class=p-3 style="box-shadow: 0px 0px 20px black;">
            <img src="{% static 'img/pro.jpg'%}"height="200" width="100%">
            <h4>lorem ipsum</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam eum, nemo aliquam neque asperiores earum ipsa? Voluptate ullam, voluptas nam fugiat cupiditate maxime, dolore laboriosam cumque numquam quae provident maiores.</p>
        </div>

    </div>
    <div class="col-md-4 p-5">
        <div class=p-3 style="box-shadow: 0px 0px 20px black;">
            <img src="{% static 'img/pro.jpg'%}"height="200" width="100%">
            <h4>lorem ipsum</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam eum, nemo aliquam neque asperiores earum ipsa? Voluptate ullam, voluptas nam fugiat cupiditate maxime, dolore laboriosam cumque numquam quae provident maiores.</p>
        </div>

    </div>
<div class="col-md-4 p-5">
        <div class=p-3 style="box-shadow: 0px 0px 20px black;">
            <img src="{% static 'img/pro.jpg'%}"height="200" width="100%">
            <h4>lorem ipsum</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam eum, nemo aliquam neque asperiores earum ipsa? Voluptate ullam, voluptas nam fugiat cupiditate maxime, dolore laboriosam cumque numquam quae provident maiores.</p>
        </div>

    </div>


</div>
  </div>
</body>
</html>