{% extends "base.html"%}
{% load static %}
{% block myblock %}
<style>
    .bg
            {
          background: url("{% static 'img/b.jpg' %}");
          background-size: 100% 100%;
          color:rgb(255, 255, 255);
          font-size: large;
           height: 600px;  
           margin-top: 48px;   
          
     
            
            
        }
        .spinner{
            height: 100px; width: 100px;
                    border-bottom:10px solid grey; border: 10px solid blue;
                    animation: ani 1s  linear infinite; border-radius: 50%;margin: auto;
        }
        @keyframes ani{
            form{transform: rotate(0deg)}
            to{transform: rotate(360deg)}
        }
</style>

<div class="container-fluid bg mb-4">
    <div class="row">
        <div class="col-md-5 my-5 p-5 shadow shadow-lg mx-auto " style=" border: solid black 2px;">
            <h2>Reset Your Password </h2> <hr>
            <div id="result"></div>
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group mt-2">
                    <label>Enter Username</label>
                    <input type="text" class="form-control" name="username" id="un" placeholder="Enter Username Here...">
                </div>
                <button type="button" class="btn btn-success" onclick="getpass()" id="continue">Click to continue....</button>
                <div class="mt-2" style="display: none" id="spin">
                    <div class="spinner"></div>
                </div>
                <div class="form-group" style="display:none" id="afterotp">
                    <label>Enter OTP</label>
                    <input type="number" class="form-control" id="uotp" placeholder="Enter OTP Here...">
                    <button onclick="matchotp()" type="button" class="btn btn-success mt-3">Verify OTP</button>               
                </div>
                  <div style="display:none" id="changepass">
                    <div class="form-group">
                        <label>Enter New Password</label>
                        <input type="password" name="npass" class="form-control" placeholder="Enter New Password...">
                    </div>
                    <div class="form-group">
                       
                        <input type="submit" value="CHANGE MY PASSWORD" class="btn btn-success">
                    </div>
                </div>
                <input type="hidden"  id="realotp">
            </form>

        </div>
    </div>

</div>
<script>
    function getpass(){
        $("#spin").show();
        let username=$("#un").val()
        $.ajax({
            url:"{% url 'resetpassword' %}",
            type:"get",
            data:{username:username},
            success:function(data){
                $("#spin").hide();
                if(data.status=="failed"){
                    $("#result").html("<p class='alert alert-danger'>NO USER FOUND WITH THIS USERNAME </p>");


                }
                else if(data.status=="Error"){
                    $("#result").html("<p class='alert alert-danger'> COULD NOT SEND EMAIL TO:="+data.email+"\nSOMETHING WENT WRONG  </p>");
                }
                else if(data.status=="sent"){
                    $("#result").html("<p class='alert alert-success'>AN OTP IS SEND TO YOUR REGISTER EMAIL ID: \n"+data.email+"</p>");
                    $("#continue").hide();
                    $("#afterotp").slideDown(1000);
                    $("#realotp").val(data.rotp)
                }
            }

        })
        

    }
    function matchotp(){
        uotp = $("#uotp").val();
        rotp = $("#realotp").val();

        if(uotp==rotp){
            $("#afterotp").hide()
            $("#changepass").fadeIn(1000);
            $("#result").html("<p class='alert alert-success'>VALIDATION SUCCESS!!</p>");     
        }else{
            $("#result").html("<p class='alert alert-danger'>Incorrect OTP</p>");

        }
    }

</script>
{% if status %}
<script>
    alert("{{status}}");
    window.location="/"
</script>
{% endif %}
{% endblock %}









<!-- # def forgotpass(request):
#     context = {}
#     if request.method=="POST":
#         un = request.POST["username"]
#         pwd = request.POST["npass"]

#         user = get_object_or_404(User,username=un)
#         user.set_password(pwd)
#         user.save()

#         login(request,user)
#         if user.is_superuser:
#             return HttpResponseRedirect("/admin")
#         else:
#             return HttpResponseRedirect("/instructorprofile")    
#         # context["status"] = "Password Change Successfully!!!"
#     return render(request,"Forgot_pass.html",context)

       

# import random
# def resetpassword(request):
#     un = request.GET["username"]
#     try:
#         user = get_object_or_404(User,username=un)
#         otp = random.randint(1000,9999)
#         msz = "Dear {} \n{} is your One Time Password (OTP)\n Do not share it with others \nThanks&Regards \nPioneer Python".format(user.username,otp)
#         try:
#             email = EmailMessage("Account Verification",msz,to=[user.email])
#             email.send()
#             return JsonResponse({"status":"Sent","email":user.email,"rotp":otp})

#         except:
#             return JsonResponse({"status":"error","email":user.email})

        
#     except:
#         return JsonResponse({"status":"failed"})

 -->
