<!DOCTYPE html>
{% load static %}
<html>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header footer</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href=" {% static 'icons/css/all.min.css'%}">
    <script src="{% static 'jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
 
<head>
 <style>
        body{
            padding: 0px;
            margin: 0px;
        }
      .header{
          text-align: center;
          line-height: 50px;
          color:white;
      }
      a{
          color:gray;   
      }
      a:hover{
        text-decoration: none;
        color:green;
      }
      #nav{
          position:sticky;
          top:0%;
         }
    
         h5{
            border-bottom:3px solid #4caf50;
             margin-bottom: 50px;
             padding:  20px 0; color:white;
             }
       
     .footer{
         background-color: rgba(0, 0, 0, 1);
            color:white;
           
            height:100px;
            Width:100%;
            line-height:100px;
        }
         input {
            padding:15px;border-radius: 5px;border:none;
            position:absolute;width:80%;
        }
        .z{
            position:relative; background-color: #4caf50;
            border-radius: 0 5px 5px 0;
            color:white; padding: 15px; border:none; float:right;
           
        } 
       .icon i{
            padding:10px;
            background-color:darkgray;
            border-radius: 50%; color:white;
        }
        .icon i:hover{
            background-color:#4caf50;
        }
        i{
            padding:5px; font-size:20px ;
            color:darkgray
        }
          form{margin-bottom:107px}
          .page{
              word-spacing: 10px;
          }
    </style>

</head>
<body>
   <div class="container-fluid">
       <div class="row header bg-dark">
       <div class="col-sm-5">
       <nav>
        <i class="far fa-envelope"></i>
           <a href="">support@pioneerpython.com</a>
           <i class="fas fa-headphones"></i>
           <a href="">+8356896453475</a>
       </nav>
       </div>
        <div class="col-sm-3">
           <i class="fab fa-facebook-f"></i>
           <i class="fab fa-vimeo-v"></i>
           <i class="fab fa-linkedin-in"></i>
           <i class="fab fa-pinterest"></i>
                                       
       </div>
        <div class="col-sm-4 page">
           <a href="{% url 'login' %}" >Login</a>
           <a href="{% url 'registration' %}" >Register</a>
    </div>
   </div>
</div>
   <div class="container-fluid"> 
    <div class="row" id="nav">
        <div class="col-md-12 px-0" >
           <nav class="navbar navbar-expand-md navbar-white bg-white">
    <a href="#" class="navbar-brand">
       <img src="loggo1.jpg" style="background: rgba(255, 255, 255, 0.9);">
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav mx-auto">
                  <a href="{% url 'index' %}" class="nav-item nav-link active">Home</a>
                  <a href="{% url 'about' %}" class="nav-item nav-link active">About</a>
                  <a href="{% url 'contact' %}" class="nav-item nav-link active">Contact Us</a>
                  <a href="#" class="nav-item nav-link active">All Courses</a>
                  <a href="#" class="nav-item nav-link active">Single Course</a>
                  
                  <a href=""><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                  <a href="search.html"><i class="fa fa-search" aria-hidden="true"></i></a>
        </div>
        
    </div>
</nav>
   </div>
    </div>
   </div> 
 
         
 <div class="container-fluid text-muted " style="background:rgba(0, 0, 0, 0.9);">
     <div class="row">
         <div class="col-md-3">
             <h5>Logo</h5>
             <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus similique
                  nulla quaerat placeat. Fuga ipsum harum sint corporis. Odit doloribus ut
                  blanditiis voluptate quisquam qui quo aspernatur perspiciatis tempore quas.</p>
                <div class="icon">
                  <i class="fab fa-facebook-f"></i>
                  <i class="fab fa-vimeo-v"></i>
                  <i class="fab fa-linkedin-in"></i>
                  <i class="fab fa-pinterest"></i>                           
        
                </div>  
                </div>
           <div class="col-md-3">
               <h5>Contact Us</h5>
                  <a href=""><i class="fas fa-headphones"></i>800 579.987.579</a><br/>
                   <a href=""><i class="far fa-envelope"></i>support@pioneerpython.com</a >
                     <p><i class="fas fa-map-marker-alt"></i>184 Main Collins Street<br/>Chicago,United States</p>                        
           </div>
             <div class="col-md-3">
                 <h5>Quick links</h5>
                 <p><a href="">Home</a></p>
                 <p><a href="">About </a></p>
                 <p><a href="">Contact Us</a></p>
                 <p><a href="">All Courses</a></p>
                 <p><a href="">Single Course</a></p>
             </div>
               <div class="col-md-3">
                    <h5>Newslatter</h5>
                    <p>Subscribe to get update and information.<br/>Don't worry, we won't send spam!</p>
                  <form>
                    <input type="text" placeholder="Enter your email">
                    <button class="z">Subscribe</button>
                </form> 
                </div>
               </div>
            </div>
        </div>
        <div class="container-fluid footer">
            <div class="col-md-12 align-center">
                <div class="footer text-center">& copyright 2020 .All rights reserved</div>
            </div>
        </div>
               
 
</body>
</html>
</body>

</html>