{% extends "base.html"%}
{% load static %}
{% block myblock %}

<style>
         .background{
            background:url(/static/img/c1.3.jpg); background-size: 100% 100%;
         }
      .abcd{
            background: rgb(163, 216, 163);color: green;border-radius: 50%;padding: 30px;font-size: 26px;
        }
        .abcdef{
          text-align: justify; padding-top: 20px;
        }
        .abcde{
          padding-top: 25px;
        }
        .aa{
             background:  rgba(38, 170, 66, 0.7);
          }
          .aaa{
             background:  rgba(84, 53, 194, 0.692);
          }
          .inside{
            position: absolute;width: 70%;height: 30%;
        }
        .out{
            position: relative;margin-left: 65%;margin-top: 2.5px;
        }
        
        @-webkit-keyframes fadeInLeft {
    from {
        opacity:1;
        -webkit-transform: translatex(-30px);
        -moz-transform: translatex(-50px);
        -o-transform: translatex(-30px);
        transform: translatex(30px);
        animation-timing-function: cubic-bezier(1, 0, 0, 1);
    }
    to {
        opacity:1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
        animation-timing-function: cubic-bezier(1, 0, 0, 1);
    }
}
@-moz-keyframes fadeInLeft {
    from {
        opacity:0;
        -webkit-transform: translatex(-10px);
        -moz-transform: translatex(-10px);
        -o-transform: translatex(-10px);
        transform: translatex(-10px);
        animation-timing-function: cubic-bezier(1, 0, 0, 1);
    }
    to {
        opacity:1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
        animation-timing-function: cubic-bezier(1, 0, 0, 1);
    }
}
@keyframes fadeInLeft {
    from {
        opacity:0;
        -webkit-transform: translatex(100px);
        -moz-transform: translatex(100px);
        -o-transform: translatex(100px);
        transform: translatex(100px);
    }
    to {
        opacity:1;
        -webkit-transform: translatex(1);
        -moz-transform: translatex(1);
        -o-transform: translatex(1);
        transform: translatex(1);
    }
}
.in-left {
    -webkit-animation-name: fadeInLeft;
    -moz-animation-name: fadeInLeft;
    -o-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    -o-animation-duration:3s;
    animation-delay: 1s;
    
    
}




@-webkit-keyframes fadeInRight {
    from {
        opacity:1;
        -webkit-transform: translatex(-30px);
        -moz-transform: translatex(-50px);
        -o-transform: translatex(-30px);
        transform: translatex(30px);
    }
    to {
        opacity:1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}
@-moz-keyframes fadeInRight {
    from {
        opacity:0;
        -webkit-transform: translatex(-10px);
        -moz-transform: translatex(-10px);
        -o-transform: translatex(-10px);
        transform: translatex(-10px);
    }
    to {
        opacity:1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}
@keyframes fadeInRight {
    from {
        opacity:0;
        -webkit-transform: translatex(100px);
        -moz-transform: translatex(100px);
        -o-transform: translatex(100px);
        transform: translatex(100px);
    }
    to {
        opacity:1;
        -webkit-transform: translatex(1);
        -moz-transform: translatex(1);
        -o-transform: translatex(1);
        transform: translatex(1);
    }
}
.in-right {
    -webkit-animation-name: fadeInRight;
    -moz-animation-name: fadeInRight;
    -o-animation-name: fadeInRight;
    animation-name: fadeInRight;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 1s;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    -o-animation-duration:3s;
    animation-delay: 1s;
}
          </style>
</head>
<body>
  <section class="background">
      <div class="container-fluid">
       
        <div class="row">
          
            <div class="col-md-12 text-center pt-5">
                <h4 class="text-success pt-4 mt-5 desc animate-box">Learn a new skill online, on your time</h4>
                
                <h1 class="text-white wow display-4 font-weight-bold mt-4 desc animate-box">An Expert for Every Goal </h1>
                <h4 class="text-white mt-4 desc animate-box">Get Skills In business, teach and personal development</h4>
               
            </div>
            
            </div>
        
            

            <div class="row">
              <div class="col-md-12">
                <h4 class=" text-center text-white mt-5 pt-2 mb-5 owl-carousel animate-box">browse the featured topics</h4>
                  <div class="row text-center mb-5 owl-carousel arrow-on-hover" data-space="10"
                  data-items="5"
                  data-arrow="true"
                  data-loop="true"
                  data-tablet="4"
                  > 
                    <div class="col-md-1"></div>
                    <div class="col-md-2 bg-white text-center m-1 hover:primary in-left" style="border-radius: 10px;">
                      
                      <i class="fas fa-desktop  mt-4 mb-1 text-success "  style="font-size: 40px;"></i>
                      <h6 class="mb-4 mt-2 text-black " style="font-size: 25px;">web design</h6>
                    </div>
                    <div class="col-md-2 bg-white m-1 text-center in-left"  style="border-radius: 10px;">
                      <i class="fas fa-mobile text-success mt-4 mb-1" style="font-size: 40px;"></i>
                      <h6 class="mb-5 mt-1 text-black"  style="font-size: 25px;">app development</h6>
                    </div>
                    <div class="col-md-2 bg-white m-1 text-center in-left"  style="border-radius: 10px;">
                      <i class="fas fa-chart-pie text-success mt-4 mb-1" style="font-size: 40px;"></i>
                      <h6 class="mb-5 mt-1 text-black "  style="font-size: 25px;">data science</h6>
                    </div>
                    <div class="col-md-2 bg-white m-1 text-center in-left"  style="border-radius: 10px;">
                      <i class="fas fa-bullhorn  text-success mt-4 mb-1" style="font-size: 40px;"></i>
                      <h6 class="mb-5 mt-1 text-black "  style="font-size: 25px;">seo</h6>
                    </div>
                    <div class="col-md-2 bg-white m-1 text-center in-left"  style="border-radius: 10px;">
                      <i class="fas fa-video  text-success mt-4 mb-1" style="font-size: 40px;"></i>
                      <h6 class="mb-5 mt-1 text-black"  style="font-size: 25px;">photography</h6>
                    </div>
                    <div class="col-md-1"></div>
                    
                  </div>

                </div>
            </div>
    </div>
    </section>
     <!-- 1st container end -->
     <div class="bg-light desc animate-box" style="padding-top: 125px;padding-bottom: 100px; ">
      <div class="container">
          <div class="row">
              <div class="col-md-4">
                  <div class="card rounded  " >
                  
                                  
                    <img class="aaaa" src="{% static 'img/m.jpg'%}" alt=""  style="height:200px;" alt="">  
                        
                      <div class="card-img-overlay text-center text-white aa">
                          <p class="mt-4 lead ">Browse our</p>
                          <h4 class="mt-4">top rated course</h4>
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="card rounded border-none ">
                    <img class="a" src="{% static 'img/p4.jpeg'%}" alt="" style="height:200px;" alt="">
                      <div class="card-img-overlay text-center text-white aaa">
                          <p class="mt-4 lead">Browse our</p>
                          <h4 class="mt-4">top rated course</h4>
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="card">
                    <img class="a "  src="{% static 'img/p6.jpeg'%}" alt=""  style="height:200px;" alt="">
                      <div class="card-img-overlay text-center text-white aa">
                          <p class="mt-4 lead">Browse our</p>
                          <h4 class="mt-4">top rated course</h4>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      </div>
 
  <!--  2 END container -->


    <div class="container desc animate-box" style="padding-top:150px; padding-bottom: 100px;">
          <div class="row pb-5">
             <div class="col-md-4 text-center">
                  <i class="far fa-bookmark abcd"></i>
                  <h4  class="abcde">44,00 Online Courses</h4>
                  <p  class="abcdef">In the poineer python there are various different type of online courses.</p>
             </div>
             <div class="col-md-4 text-center">
                  <i class="far fa-user abcd"></i>
                  <h4 class="abcde">Expert Instruction</h4>
                  <p  class="abcdef">The teacher are very friendly and fully literature.</p> 
             </div>
             <div class="col-md-4 text-center">
                  <i class="fas fa-trophy abcd"></i>
                  <h4  class="abcde">Professional Certificates</h4>
                  <p  class="abcdef">The professionalism and individualism of the customer service I received from poineer python is unparalleled.</p>
             </div>
          </div>
    </div> 
      <!--3rd container end -->



       <div class="container-fluid desc animate-box" style="padding-top:100px;padding-bottom: 100px; background:#3b3e79">
        <div class="row">
          <div class="col-md-12 mb-5 text-center">
            <h2 class="mb-4">Featured Courses
              </h2>
              <div class="rounded bg-primary mx-auto" style="width:50px; height:4px;"></div>
          </div>
          <div class="col-lg-4 mt-5">
            <div class="card" style="border: 0ex;">
                <img class="rounded" src="{% static 'img/c7.1.jpg'%}" alt="">
              <div class="card-body">
                <!-- <a class="text-success" href="">Python</a> -->
                <a href="" class="mt-2 text-black" ><h4 >Visual Basic Essential Training For Begainers</h4></a>
                <p class="mt-3" style="color:lightslategray"> <i class="far fa-user mr-2"></i>   John Doe, Anthony Brooks</p>
                <p class="mt-2">
                  <i class="fas fa-star text-warning"></i>
                  <i class="fas fa-star text-warning"></i>
                  <i class="fas fa-star text-warning"></i>
                  <i class="fas fa-star text-warning"></i>
                  <i class="fas fa-star text-warning"></i>
                  <span class="text-dark mr-1">5  </span>
                  <span style="color: lightslategray;">(4578)</span> 
                </p>
                <div class="border-top">
                  <ul class="list-unstyled mt-4"  style="color:lightslategray">
                    <li  class="mb-2"><i class="fas fa-headphones-alt mr-2"></i>   46  lectures</li>
                    <li><i class="far fa-clock mr-2"></i>   27.5  hours</li>
                  </ul>
                  <h4><span class=" float-right mr-2 text-success">free</span></h4>
                 </div>
            </div>
          </div>
         </div> 
         <div class="col-lg-4 mt-5">
          <div class="card" style="border: 0ex;">
            <img class="rounded" src="{% static 'img/c7.1.jpg'%}"  alt="">
            <div class="card-body">
              <!-- <a class="text-success" href="">Python</a> -->
              <a href="" class="mt-2 text-black" ><h4 >Visual Basic Essential Training For Begainers</h4></a>
              <p class="mt-3" style="color:lightslategray"> <i class="far fa-user mr-2"></i>   John Doe, Anthony Brooks</p>
              <p class="mt-2">
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-warning"></i>
                <span class="text-dark mr-1">5  </span>
                <span style="color: lightslategray;">(4578)</span> 
              </p>
              <div class="border-top">
                <ul class="list-unstyled mt-4"  style="color:lightslategray">
                  <li  class="mb-2"><i class="fas fa-headphones-alt mr-2"></i>   46  lectures</li>
                  <li><i class="far fa-clock mr-2"></i>   27.5  hours</li>
                </ul>
                <h4><span class=" float-right mr-2 text-success">free</span></h4>
               </div>
          </div>
        </div>
       </div> 
       <div class="col-lg-4 mt-5">
        <div class="card" style="border: 0ex;">
            <img class="rounded" src="{% static 'img/c7.1.jpg'%}"  alt="">
         <div class="card-body">
            <!-- <a class="text-success" href="">Python</a> -->
            <a href="" class="mt-2 text-black" ><h4 >Visual Basic Essential Training For Begainers</h4></a>
            <p class="mt-3" style="color:lightslategray"> <i class="far fa-user mr-2"></i>   John Doe, Anthony Brooks</p>
            <p class="mt-2">
              <i class="fas fa-star text-warning"></i>
              <i class="fas fa-star text-warning"></i>
              <i class="fas fa-star text-warning"></i>
              <i class="fas fa-star text-warning"></i>
              <i class="fas fa-star text-warning"></i>
              <span class="text-dark mr-1">5  </span>
              <span style="color: lightslategray;">(4578)</span> 
            </p>
            <div class="border-top">
              <ul class="list-unstyled mt-4"  style="color:lightslategray">
                <li  class="mb-2"><i class="fas fa-headphones-alt mr-2"></i>   46  lectures</li>
                <li><i class="far fa-clock mr-2"></i>   27.5  hours</li>
              </ul>
              <h4><span class=" float-right mr-2 text-success">free</span></h4>
             </div>
        </div>
      </div>
     </div> 
           <div class=" col-md-12 text-center mt-5">
            <a href="{% url 'allcourse'%}"> <button class="btn btn-success p-2">All featured courses</button></a>
           </div> 
    </div>
       </div>
    <!-- 4th container -->
   
 <div class="container-fluid bg-cover  animate-box "data-dark-overlay="6" style="background:url(/static/img/c5.jpg); background-size: 100%  100%; padding-top: 100px; padding-bottom: 75px;">
      <div class="row text-align-center">
           <div class="col-md-1"></div>
           <div class="col-lg-5 mr-auto  text-white my-3">
                <h2>Trusted by Over
                    <span class="text-success"> 25000+</span>
                    Students & Organization Around the World!
                </h2>
                <button class="btn btn-success mt-3 p-2">Get Started Now</button>
           </div>
          
           <div class="col-lg-6 mb-3">
                <div class="card m-3 float-left" style="height:90px; width:120px;">
                    <img src="{% static 'img/g2.png'%}"  alt="" style="height:100%; width:100%;">
                </div>
                <div class="card m-3 float-left" style="height:90px; width:120px;">
                    <img src="{% static 'img/g3.png'%}"  alt="" style="height:100%; width:100%;">
                </div>
                <div class="card m-3 float-left" style="height:90px; width:120px;">
                    <img src="{% static 'img/g6.png'%}"  alt="" style="height:100%; width:100%;">
                  </div>
                <div class="card m-3 float-left" style="height:90px; width:120px;">
                    <img src="{% static 'img/g5.png'%}"  alt="" style="height:100%; width:100%;">
                 </div> 
           </div>
       </div>
   </div>
      <!-- 5th container -->



   <div class="container-fluid bg-light" style="padding-top:100px;">
     <div class="row">
            <div class="col-md-12  mb-5 text-center text-black">
                 <h2 class="mb-4">Success Story
                 </h2>
                 <div class="rounded bg-primary mx-auto" style="width:50px; height:4px;">
                 </div>
            </div>
            <div class="col-md-12 text-center" style="width:690px; padding-bottom: 150px;">
                 <div class="carousel slide" data-ride="carousel" id="caro">
                      <!-- <ul class="carousel-indicators"> 
                         <li data-target="caro" data-slide-to="0" class="active"></li>
                         <li data-target="caro" data-slide-to="1"></li>
                         <li data-target="caro" data-slide-to="2"></li>
                      </ul>  -->
                    <div class="carousel-inner">
                       <div class="carousel-item active">
                        <img src="{% static 'img/c6.1.jpg'%}"  height="90px" width="90px" style="border-radius:50% "; alt="">
                              
                        <h4 class="mt-4 font-primary">Sagred  Al  Jubayer</h4>
                           <p class="mt-4" style="font-size:large">student</p>
                           <p class=" " style="text-align:center;font-size:x-large ">
                            I've been out of college for about two years, Pioneer Python has changed </br>my outlook on my career. Taking the foundational courses in</br> marketing has helped me launch my career.<br>they teach me daily new things about the web development.<br>the teaching is very good for those go away from home<br> and I recognise poineer python  for those student who learn online.</p>                       </div>
                       <div class="carousel-item">
                        <img src="{% static 'img/c6.2.jpg'%}" height="90px" width="90px" style="border-radius:50% " ;alt="">
                        <h4 class="mt-4 font-primary">Alex</h4>
                        <p class="mt-4" style="font-size:large">student</p>
                        <p class=" " style="text-align:center;font-size:x-large">
                          Poineer python  has been a valuable web development asset . They are extremely professional to work with, and their work displays their creative abilities and great attention to detail. They have exceeded my expectations when comes to their timely completion and delivery of web projects. I highly recommend Poineer python as a tutorial websites for your web solutions 
                        </div>
                       <div class="carousel-item">
                        <img src="{% static 'img/c6.3.jpg'%}" height="90px" width="90px" style="border-radius:50% "; alt="">
                        
                        <h4 class="mt-4 font-primary">Jonathon  Nur</h4>
                        <p class="mt-4" style="font-size:large">student</p>
                        <p class=" " style="text-align:center;font-size:x-large ">
                          I was able to increase my learning skills  by 40 percent!  I received from poineer python is unparalleled. To see that this websites  was able to create my vision on the web was incredible as they did not leave out any details and collaborated with me through the process to assure that I was completely satisfied. I highly recommend poineer python to everyone
                        </div>
                     </div>
                </div>
            </div>
     </div>
   </div>  
          <!-- 6th container end -->

          <div class="container-fluid desc animate-box" style="padding-top:100px;">
            <div class="row">
              <div class="col-md-12 mb-5 text-center">
                <h2 class="mb-4">Featured Courses
                  </h2>
                  <div class="rounded bg-primary mx-auto" style="width:50px; height:4px;"></div>
              </div>
              <div class="col-lg-4 mt-5">
                <div class="card" style="border: 0ex;">
                    <img class="rounded" src="{% static 'img/c7.1.jpg'%}"alt="">
                  
                    <div class="card-body px-0">
                    <a class="text-success" href="">Python</a>
                    <a href="" class="mt-2 text-black" ><h4 >Expand Your Programming Knowledge</h4></a>
                    <p> 6 october, 2018 - by <a href="" class="text-success"> Abdulla</a></p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 mt-5">
                <div class="card"  style="border: 0ex;">
                    <img class="rounded" src="{% static 'img/c7.2.jpg'%}" alt="">
                  <div class="card-body px-0">
                    <a class="text-success" href="">Python</a>
                    <a href="" class="mt-2 text-black" ><h4 >Expand Your Programming Knowledge</h4></a>
                    <p> 6 october, 2018 - by <a href="" class="text-success"> Abdulla</a></p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 mt-5">
                <div class="card"  style="border: 0ex;">
                    <img class="rounded" src="{% static 'img/c7.3.jpg'%}" alt="">
                  
                    <div class="card-body px-0">
                    <a class="text-success" href="">Python</a>
                    <a href="" class="mt-2 text-black" ><h4 >Expand Your Programming Knowledge</h4></a>
                    <p> 6 october, 2018 - by <a href="" class="text-success"> Abdulla</a></p>
                  </div>
                </div>
              </div>
            </div>  
          </div>
          <!-- 7th container end -->

          <div class="container-fluid desc animate-box" style="background:url(/static/img/c8.jpg);padding-top:100px; padding-bottom: 75px;">
            <div class="row">
                <div class="col-md-12 text-white text-center">
                  <h3>Become an Instructor</h3>
                  <p class="mt-4 lead"> Share your knowledge and reach millions of students across the globe.</br> Join the world's largest online learning marketplace</p>
                   <a href="{%url 'courses'%}"> <button class="btn  text-info bg-light mt-3"><strong>Start Teaching</strong> </button></a>
                </div>
            </div>
            <div class="row">
              <div class="col-md-12  text-center">
                  <h1>Our Category({{category|length}})</h1>
              </div>
              
              {% for c in category %}
          <div class="col-md-4 text-center" >
              <div style="box-shadow: 0px 0px 10px black;background: url('/media/{{c.cover_pic}}');background-size: 100% 100%;"class="myimg">
                   <img src="/media/{{c.cover_pic}}" alt="" height="100px"> 
                  <div class="box1" style="height: 300px;">
                          <h3>{{c.name}}</h3>
                          <p>{{c.description}}</p>
                  </div>
          
              </div>
          </div>
          
          {% endfor %}
          </div>
          
          {% if status %}
            <script>
              alert("{{status}}");
              window.location="/"
            </script>
          <script>
                   $(".animated").addClass("delay-1s");
    
    
          </script>
          
          
          {% endif%}
          
         
          </div>
          
          {% endblock %}