{% extends "base.html" %}
{% load static%}

{% block myblock %}
<head>
<style>
    h1{
        color: red;text-align: center;text-shadow: 0px 0px 15px black;
    }
</style>
</head>
<body style="background-color: yellow;">
<h1>THIS IS MY FIRST HTML PG USING DJANGO</h1>
<ul>
<li>HTML</li>
<li>BOOTSTRAP</li>
<li>JQUERY</li>
<li>JAVA</li>
<li>JAVASCRIPT</li>
<li>DJANGO</li>
<li>PYTHON</li>
<li>CSS</li>
</ul>  
<!--{{colors}}-->  
<!-- {% for i in colors %}
 {{i}}
 {% endfor %} -->
 <table border="1" width="80%" align="center" style="text-align:center;" cellspacing="0">
     <thead>
         <tr>
             <th style="font-family:cursive; color:green;">color Name</th>
             <th>color</th>
         </tr>
     </thead>
     <tbody>
        {% for i in colors %}
        <tr>
            <td>{{i}}</td>
            <td>
                <div style="height: 100px;width:100%;background-color: {{i}};"></div>
            </td>
        </tr>
         {% endfor%}
     </tbody>
    
 </table>
</body>

{% endblock%}