{% extends "dashboard_base.html"%}
{% load static  %}
{% block dashboard %}
<style>
        .bg{
            background: url("imagesjpg/hand pen.jpg"); background-size: cover;
        }
        .bg1{
            background: rgba(0,0,0,0.1);
        }
        .o:hover{
        color: green;
    }

    </style>


{% if user.is_staff %}

    


<div class="container-fluid bg">
  <div class="row text-white" style="background: rgba(0,0,0,0.5); padding: 50px 0px;">
      <div class="col-md-6 px-5">
           <h1>Instructor Profile</h1>
           <p class="o">Home &gt;&gt; Pages &gt;&gt; User &gt;&gt; Instructor Profile</p>
          </div>
          </div>
       </div>
       <div class="container-fluid bg1 my-5">
          <div class="row">
            <div class="col-md-4 my-5">
                <div class="card-header" style="color:black;background: white;">
                  {% if data.profile_pic %}
                  <img src="/media/{{data.profile_pic}}" class="card-img" style="height: 200px; width: 250px; border-radius: 50%;">
                  {% else %}
                  <img src="{% static 'img/profile.jpg' %}" name="image" class="card-img" style="height: 200px; width: 250px;">
                  {% endif %}
                    <!-- <img src="{% static 'image/alex lebby.jpg'%} " class="card-img" alt="" style="border-radius:50%;"> -->
                
                <h3 class="card-title text-center">{{user.first_name}} {{user.last_name}}</h3>
<p class="card-text text-center" >{{data.occupation}}</p>
  <ul class="list-inline" style="word-spacing: 20px; margin-top: 40px;">
   <li class="list-inline-item"><i style="color: green;margin-left: 35px;" class="far fa-user"></i>
    <h4>Students</h4>
    <p>147560</p></li>
     <li class="list-inline-item"><i style="color: green;margin-left: 35px;" class="fas fa-book-open"></i>
      <h4>Courses</h4>
      <p style="margin-left: 30px;">27</p></li>
         <li class="list-inline-item"><i style="color: green;margin-left: 35px;" class="far fa-star"></i>
          <h4>Reviwes</h4>
          <p>10467</p></li>
          </ul>
             </div>
                <div class="card-body" style="background:white">
                    <p>Email Address:</p>
                    <h4>{{user.email}}</h4>
                    <p>Phone:</p>
                    <h4>{{data.contact_number}}</h4>
                    <p>Location:</p>
                    <h4>{{data.city}}</h4>
                </div>
                <div class="card-footer" style="background: white;">
                <p style="font-size: 20px;">Social Profile</p>
                <div style="word-spacing: 20px;">
                    <i  style="background: blue;color: white;padding: 15px;border-radius: 50%;" class="fab fa-facebook-f"></i>
                <i style="background: skyblue;color: white;padding: 15px;border-radius: 50%;" class="fab fa-twitter-square"></i>
                <i style="background: red; color: white;padding: 15px;border-radius: 50%;" class="fab fa-google-plus"></i>
                <i style="background: turquoise;color: white;padding: 15px;border-radius: 50%;" class="fab fa-pinterest-p"></i>
              </div>
                </div>
            </div>
            <div class="col-md-8 my-5" style="background: white;">
              <!-- <p class="my-2" style="font-size: 20px;">About</p><hr> -->
              <h2>Biography</h2><hr/>
              <p style="font-size: 15px;">{{user.first_name}}{{user.last_name}}, M.Ed., has been owner of Catalyst & Co. in Portland for the past 21 years. She has built trusting relationships and facilitated creative learning programs that deliver results for more than 200 clients and thousands of employees.</p>                 
                <p style="font-size: 15px;">She holds a Bachelor of Science degree in Communication from James Madison University in Virginia, a Masters of Human Resource Education from Boston University, and a Certificate in Training Design and Delivery from Bryant College. She is also a qualified Myers Briggs Type Indicator instructor, and attends ongoing educational programs to strengthen her skills and keep abreast of current research. </p><hr>
                <h2>Experience</h2>
             <h6 style="margin-top: 30px; margin-bottom: 30px;">2000-2004</h6>
             <h6 style="font-size: 20px;font-weight: bold;">Full Stack Developer</h6>
             <h6>Apple Inc.</h6>
             <p style="font-size: 15px;">•	Develop and maintain highly reliable and scalable web services and UIs that enable users to interact with hardware products.</p>
                <p style="font-size: 15px;">• Create automation that works on macOS and Linux servers.</p>
                <p style="font-size: 15px;">• Build APIs and UIs that are simple and powerful.</p>
                <p style="font-size: 15px;">• Understand product requirements, engage with team members and customers to define solutions, and estimate the scope of work required.</p>
                <p style="font-size: 15px;">• Collaborate with, mentor, and influence members within your team and across other teams at Apple.</p>
                <p style="font-size: 15px;">• Deliver solutions that can keep up with a rapidly evolving product in a timely fashion.</p>
             
             <h6 style="margin-top: 30px;">2004-2018</h6>
             <h6 style="font-size: 20px;font-weight: bold;">Project Manager</h6>
             <h6>Google</h6>
             <p style="font-size: 15px;">Experience managing projects and using project management tools.</p>
             <p style="font-size: 15px;">Proven track record working cross-functionally in a fast-paced environment to lead and drive complex initiatives globally.</p>
             <p style="font-size: 15px;">Strong understanding of systems, operations, internal controls, requirements. documentation, testing, validation and program management.</p>
              <p style="font-size: 15px;">Demonstrated ability to autonomously drive and prioritize multiple initiatives</p>
              <p style="font-size: 15px;">Demonstrated ability to manage complex escalations in a timely and efficient manner, effectively balancing risks.</p><hr>

             <h2>Education</h2>
             <h6 style="margin-top: 30px;">2000-2004</h6>
             <h6 style="font-size: 20px;font-weight: bold;">Full Stack Developer</h6>
             <h6>Apple Inc.</h6>
             <p style="font-size: 15px;">These instructors advance their careers by seeking a tenured position as a college or university professor. Tenured professors are ensured more extensive due process in termination proceedings, providing some measure of protection for professors teaching or researching unpopular or politically incorrect subject matter. Tenure is often granted based on classroom performance, length of employment, continuing education and research activity. Some 2-year colleges offer tenure to instructors who only have a master's degree, but 4-year colleges usually require tenure candidates to have doctorate degrees.</p>

             <h6 style="margin-top: 30px;">2004-2018</h6>
             <h6 style="font-size: 20px;font-weight: bold;">Project Manager</h6>
             <h6>Google</h6>
             <p style="font-size: 15px;">{{user.first_name}} is responsible for leading an entire project through initiation, planning, execution, control, and completion.{{user.first_name}} always work in a team.{{user.first_name}} is most often sociable and great team player.
            </p>
          </div>
          </div>
          </div>
            </div>
            </div>
            </div>



{%else%}
                 

<div class="container-fluid bg">
  <div class="row text-white" style="background: rgba(0,0,0,0.5); padding: 50px 0px;">
      <div class="col-md-6 " style="padding: 30px;">
           <h1>Student Profile</h1>
           <p>Home &gt;&gt; Pages &gt;&gt; User &gt;&gt; Student Profile</p>
          </div>
          </div>
       </div>
       <div class="container-fluid bg1 my-5 bg-light">
          <div class="row">
            <div class="col-md-4 my-5">
              <div class="card-header" style="color:black;background: white;">
                {% if data.profile_pic %}
                <img src="/media/{{data.profile_pic}}" class="card-img" style="height: 200px; width: 250px; border-radius: 50%;">
                {% else %}
                <img src="{% static 'img/profile.jpg' %}" name="image" class="card-img" style="height: 200px; width: 250px;">
                {% endif %}
                  <!-- <img src="{% static 'image/alex lebby.jpg'%} " class="card-img" alt="" style="border-radius:50%;"> -->
              
              <h3 class="card-title text-center">{{user.first_name}} {{user.last_name}}</h3>
<p class="card-text text-center" >{{data.occupation}}</p>
<ul class="list-inline" style="word-spacing: 20px; margin-top: 40px;">
 <li class="list-inline-item"><i style="color: green;margin-left: 35px;" class="far fa-user"></i>
  <h4>Students</h4>
  <p>147560</p></li>
   <li class="list-inline-item"><i style="color: green;margin-left: 35px;" class="fas fa-book-open"></i>
    <h4>Courses</h4>
    <p style="margin-left: 30px;">27</p></li>
       <li class="list-inline-item"><i style="color: green;margin-left: 35px;" class="far fa-star"></i>
        <h4>Reviwes</h4>
        <p>10467</p></li>
        </ul>
           </div>
              <div class="card-body" style="background:white">
                  <p>Email Address:</p>
                  <h4>{{user.email}}</h4>
                  <p>Phone:</p>
                  <h4>{{data.contact_number}}</h4>
                  <p>Location:</p>
                  <h4>{{data.city}}</h4>
              </div>
              <div class="card-footer" style="background: white;">
              <p style="font-size: 20px;">Social Profile</p>
              <div style="word-spacing: 20px;">
                  <i  style="background: blue;color: white;padding: 15px;border-radius: 50%;" class="fab fa-facebook-f"></i>
              <i style="background: skyblue;color: white;padding: 15px;border-radius: 50%;" class="fab fa-twitter-square"></i>
              <i style="background: red; color: white;padding: 15px;border-radius: 50%;" class="fab fa-google-plus"></i>
              <i style="background: turquoise;color: white;padding: 15px;border-radius: 50%;" class="fab fa-pinterest-p"></i>
            </div>
              </div>
          </div>
         
<div class="col-lg-8 mt-4 bg-light">
          <div class="card padding-30 shadow-v1">
            <ul class="nav tab-line tab-line border-bottom mb-4" role="tablist">
             <li class="nav-item" >
              <a class="nav-link active" data-toggle="tab" href="#Tabs_1-1" role="tab" aria-selected="true">
               <i class="fas fa-download mr-1 text-success"> Purchase Courses</i>

               
              </a>
             </li>
             <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#Tabs_1-2" role="tab" aria-selected="true">
               <i class="fas fa-heart  text-danger mr-1" > Wishlist</i>
                
              </a>
             </li>
           </ul>
           
            <div class="tab-content">
              <div class="tab-pane fade show active" id="Tabs_1-1" role="tabpanel">
              <div class="table-responsive table-borderd my-4">
                <table class="table table-borderd ">
                  <thead>
                    <tr>
                      <th scope="col">Order ID</th>
                      <th scope="col">Date</th>
                      <th scope="col">Price</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row" class="text-dark font-weight-semiBold">#00004673</th>
                      <td>01 Aug 2018</td>
                      <td>$49</td>
                      <td>
                        <a href="#" class="btn btn-link  text-success">View</a>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row" class="text-dark font-weight-semiBold">#05604673</th>
                      <td>07 Aug 2018</td>
                      <td>$300</td>
                      <td>
                        <a href="#" class="btn btn-link text-success">View</a>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row" class="text-dark font-weight-semiBold">#07O4673</th>
                      <td>16 Aug 2018</td>
                      <td>$34</td>
                      <td>
                        <a href="#" class="btn btn-link text-success">View</a>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row" class="text-dark font-weight-semiBold">#06454673</th>
                      <td>24 Aug 2018</td>
                      <td>$10</td>
                      <td>
                        <a href="#" class="btn btn-link text-success">View</a>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row" class="text-dark font-weight-semiBold">#0000435</th>
                      <td>28 Aug 2018</td>
                      <td>$199</td>
                      <td>
                        <a href="#" class="btn btn-link text-success">View</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              </div> <!-- END tab-pane -->
              <div class="tab-pane fade" id="Tabs_1-2" role="tabpanel">
                  <div class="row">
                    <div class="col-md-6 mt-4">
                      <a href="page-course-details.html" class="card text-gray overflow-hidden height-100p shadow-v1 border">
                      
                        <img class="card-img-top" src="{% static 'img/boy.jpg' %}" alt="">
                        <div class="card-body">
                          <h4 class="h5 ">
                            The Web Developer Bootcamp
                          </h4>
                          <p class="my-3">
                            <i class="far fa-user mr-2"></i>
                            Andrew Mead
                          </p>
                          <p class="mb-0">
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                            <span class="text-dark">5</span>
                            <span>(4578)</span>
                          </p>
                        </div>
                        <div class="card-footer media align-items-center justify-content-between">
                          <ul class="list-unstyled mb-0">
                            <li class="mb-1">
                              <i class="fas fa-headphone small mr-2"></i>
                              46 lectures
                            </li>
                            <li class="mb-1">
                              <i class="ti-time small mr-2"></i>
                              27.5 hours
                            </li>
                          </ul>
                          <h4 class="h5">
                            <span class="text-success">$180</span>
                          </h4>
                        </div>
                      </a>
                    </div>
                    <div class="col-md-6 mt-4">
                      <a href="page-course-details.html" class="card text-gray overflow-hidden height-100p shadow-v1 border shadow-v1">
                        <img class="card-img-top" src="{% static 'img/gi.jpg' %}" alt="">
                        <div class="card-body">
                          <h4 class="h5">
                            Java 8 Essential Training
                          </h4>
                          <p class="my-3">
                            <i class="far fa-user mr-2"></i>
                            Anthony Brooks
                          </p>
                          <p class="mb-0">
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                            <span class="text-dark">5</span>
                            <span>(4578)</span>
                          </p>
                        </div>
                        <div class="card-footer media align-items-center justify-content-between">
                          <ul class="list-unstyled mb-0">
                            <li class="mb-1">
                              <i class="ti-headphone small mr-2"></i>
                              46 lectures
                            </li>
                            <li class="mb-1">
                              <i class="ti-time small mr-2"></i>
                              27.5 hours
                            </li>
                          </ul>
                          <h4 class="h5">
                            <p class="text-success">Free</p>
                          </h4>
                        </div>
                      </a>
                    </div>
                    
                    <div class="col-md-6 mt-4">
                        <a href="page-course-details.html" class="card text-gray overflow-hidden height-100p shadow-v1 border">
                          <img class="card-img-top" src="  {% static 'img/m.jpg'%}" alt="">
                          <div class="card-body height-100p">
                            <h4 class="h5">
                              Programming Real-World Examples
                            </h4>
                            <p class="my-3">
                              <i class="far fa-user mr-2"></i>
                              Adam Kury
                            </p>
                            <p class="mb-0">
                              <i class="fas fa-star text-warning"></i>
                              <i class="fas fa-star text-warning"></i>
                              <i class="fas fa-star text-warning"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <span class="text-dark">3.4</span>
                              <span>(7)</span>
                            </p>
                          </div>
                          <div class="card-footer media align-items-center justify-content-between">
                            <ul class="list-unstyled mb-0">
                              <li class="mb-1">
                                <i class="ti-headphone small mr-2"></i>
                                46 lectures
                              </li>
                              <li class="mb-1">
                                <i class="ti-time small mr-2"></i>
                                27.5 hours
                              </li>
                            </ul>
                            <h4 class="h5">
                              <p class="text-primary">$249</p>
                          </h4>
                        </div>
                      </a>
                    </div>
                    <div class="col-md-6 mt-4">
                      <a href="page-course-details.html" class="card text-gray overflow-hidden height-100p shadow-v1 border shadow-v1">
                        <img class="card-img-top" src="{% static 'img/gi.jpg' %}" alt="">
                        <div class="card-body">
                          <h4 class="h5">
                            Java 8 Essential Training
                          </h4>
                          <p class="my-3">
                            <i class="far fa-user mr-2"></i>
                            Anthony Brooks
                          </p>
                          <p class="mb-0">
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                            <span class="text-dark">5</span>
                            <span>(4578)</span>
                          </p>
                        </div>
                        <div class="card-footer media align-items-center justify-content-between">
                          <ul class="list-unstyled mb-0">
                            <li class="mb-1">
                              <i class="ti-headphone small mr-2"></i>
                              46 lectures
                            </li>
                            <li class="mb-1">
                              <i class="ti-time small mr-2"></i>
                              27.5 hours
                            </li>
                          </ul>
                          <h4 class="h5">
                            <p class="text-success">Free</p>
                          </h4>
                        </div>
                      </a>
                    </div>
                    <div class="col-12 text-center mt-5">
                      <a href="#" class="btn btn-icon btn-outline-primary">
                        <i class="ti-reload mr-2"></i>
                        Load More
                      </a>
                    </div> 
                  </div> <!-- END row-->
                </div> <!-- END tab-pane -->
              </div> <!-- END tab-content-->
            </div> <!-- END card-->
          </div> <!-- END col-md-8 -->
        </div> <!--END row-->
      </div> <!--END container-->
    </section>
     
     
     
  
                             
                
         
        </div>
        </div>
        </div>
        </div>                          

      
                                    {% endif %}          
{% endblock %}