{% extends "base.html"%}
{% load static %}
{% block myblock %}
<style>

.btn-google {
  color: white;
  background-color: #ea4335;
}

.btn-facebook {
  color: white;
  background-color: #3b5998;
}
.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}
.form-signin {
  width: 100%;
}
.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}
.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 500px;
  font-size: 2.5rem;
  color: #28a745;
}
h5{
            border-bottom:3px solid #4caf50;
             margin-bottom: 50px;
             padding:  20px 0; color:white;
             }
       
.text-center{
    text-align: center;
}
.form-signin{
    width: 100%;
}

.form-label-group input {
  height: auto;
  border-radius: 2rem;
}

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}
.form-label-group input {
  height: auto;
  border-radius: 2rem;
  padding: 2%;
}

.form-label-group>input,
.form-label-group>label {
  padding: 2%;
}
.card-signin .card-body {
  padding: 2rem;
}
.form-signin {
  width: 100%;
}
.back{
        height: 700px;
        width: 100%;
    } 
   img{
       margin-top: 10%;
   } 
   body {
    background:url(/static/img/i3.jfif); background-size: cover;
}
input[type="text"]:focus{
outline: none;
box-shadow: 0px 0px 5px #00CB54;
border:1px solid #00CB54;

}
input[type="password"]:focus{
outline: none;                   
box-shadow: 0px 0px 5px #00CB54;
border:1px solid #00CB54;

}
input{
  
  border-radius: 5px;
  border:none;
  padding: 10%;
  width: 10%;
}
</style>
















<body>
  <div class="container ">
    <div class="row ">
        <div class="col-md-6 back ">
            <img src="{% static 'img/login5.jpg' %}" alt="" class="back">
        </div>
        
      <div class="col-md-6">
        <div class="card card-signin my-5">
          <div class="card-body bg-light">
            <h5 class="card-title text-center">Login Here</h5>
            <form action="{% url 'user_login' %}" method="post" class="form-signin bg-light">
              {% csrf_token %}
              
              <div class="form-label-group" >
                
                
                <input type="text"  class="form-control" placeholder="Username" name="username" style="margin-bottom: 10px;"  
              
                          
              </div>
                
                 
                
              
                
                
                
                
              <div class="form-label-group">
                
                <input type="password" class="form-control" placeholder="Password" name="password" >
                
              </div>
              </div>
              <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck1" name="rememberme">
                <label class="custom-control-label" for="customCheck1">Remember me</label>
                <a href="{% url 'forgotpass'%}" class="text-primary mx-4" style="font-family: sans-serif; color: #00CB54!important;">Forgot Password?</a>
              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
              <hr class="my-4">
              <a href="https://google.com/" class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign in with Google</a>
              <a href="https://www.facebook.com/" class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</a>
              <hr class="my-4">
              <div><h4 class="pt-2 mt-2"style="color:black;">If You Don't Have Any Account ?</h4> <a class="btn btn-success btn-block" href="{% url 'registration'%}"> Sign Up</a></div>
            </form>
          </div>
          <div class="modal-footer"><em>
            <span style="color:#606065;">You Accepted Our</span> <span style="color: green;font-family:Elephant;"> Terms And Conditions</span> <span style="color: white;">And</span> <span style="color: green;font-family:Elephant;">Privacy Policy</span></em></div>
        </div>
      </div>
    </div>
  </div>
<body>
{% endblock %}