<div class="container-fluid" > 
    <div class="row" id="nav"style="background-color: #ff5722;">
        <div class="col-md-12 px-0" >
          
           <nav class="navbar navbar-expand-md navbar-white bg-white">
    <a href="#" class="navbar-brand">
       <img <img src="{% static 'loggo.jpg'%}" style="background: rgba(255, 255, 255, 0.9);height: 70px;width: 70px;">
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav mx-auto">
                  <a href="{% url 'home' %}" class="nav-item nav-link active">Home</a>
                  <a href="{% url 'about' %}" class="nav-item nav-link active">About</a>
                  <a href="{% url 'contact' %}" class="nav-item nav-link active">Contact Us</a>
                  <a href="{% url 'signin' %}" class="nav-item nav-link active">Login</a>
                  <a href="{% url 'signup' %}" class="nav-item nav-link active">Sign Up</a>
                  
                  
                
                  
        </div>
        
    </div>
</nav>
<h1 style="text-align: center;font-family: Chiller;">Charity Hub</h1>
   </div>
    </div>
   </div> 
   {% block myblock %}

   {% endblock %}
 
         
 <div class="container-fluid text-muted  " style="background:#ff5722;" >
     <div class="row">
         <div class="col-md-3">
             <h5 style="color: white;">Logo</h5>
             <p class="text-justify"style="color: white;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus similique
                  nulla quaerat placeat. Fuga ipsum harum sint corporis. Odit doloribus ut
                  blanditiis voluptate quisquam qui quo aspernatur perspiciatis tempore quas.</p>
                <div class="icons">
                  <i class="fab fa-facebook-f"></i>
                  <i class="fab fa-vimeo-v"></i>
                  <i class="fab fa-linkedin-in"></i>
                  <i class="fab fa-pinterest"></i>                           
        
                </div>  
                </div>
           <div class="col-md-3">
               <h5 style="color: white;">Contact Us</h5>
                  <a href=""><i class="fas fa-headphones"style="color: white;"></i><span style="color: white;">800 579.987.579</span></a><br/>
                   <a href=""><i class="far fa-envelope"style="color: white;"></i><span style="color: white;">support@charityhub.com</span></a >
                     <p><i class="fas fa-map-marker-alt"style="color: white;"></i><span style="color: white;">585,Near Post Office Jamal<br/>Sirsa,Haryana</span></p>                        
           </div>
             <div class="col-md-3"style="color: white;">
                 <h5 style="color: white;">Quick links</h5>
                 <p style="color: white;"><a href=""> <span style="color: white;">Home</span></a></p>
                 <p style="color: white;"><a href=""><span style="color: white;">About</span> </a></p>
                 <p style="color: white;"><a href=""><span style="color: white;">Contact Us</span></a></p>
                 <p style="color: white;"><a href=""><span style="color: white;">Login</span></a></p>
                 <p style="color: white;"><a href=""><span style="color: white;">Sign Up</span></a></p>
             </div>
               <div class="col-md-3"style="color: white;">
                    <h5 style="color: white;">Newslatter</h5>
                    <p style="color: white;">Subscribe to get update and information.<br/>Don't worry, we won't send spam!</p>
                  <form>
                    <input type="text" placeholder="Enter your email"style="color: white; " class="mp">
                    <button class="z"style="color: white;">Subscribe</button>
                </form> 
                </div>
               </div>
    </div>
        </div>
  