{% extends "dashboard_base.html" %}
{% load static %}
{% block dashboard %}
  

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            
            <h2 class="alert alert-primary">Dashboard &gt; My Courses ({{courses|length}})</h2>
            
            
            <table class="table">
                <thead>
                    <tr>
                    <th>Course ID</th>
                    <th>Course Image</th>
                    <th>Course Name</th>
                    <th>Instructor Name</th>
                    <th>Course Actions</th>
                </tr>
                </thead>
            
            <tbody>
                {% for c in courses %}
                    <tr>
                        <td>{{c.id}}</td>
                        <td><img src="/media/{{c.course_image}}" style="height:50px; width:50px;"></td>
                        <td>{{c.course_name}}</td>
                        <td>{{c.users.first_name}} {{c.users.last_name}}</td>
                        <td>
                            
                            <button class="btn btn-success" data-toggle="modal" data-target="#m{{c.id}}"><i class="fas fa-eye"></i>view</button>
                            <a href="{% url 'update_course' %}?pid={{c.id}}" class="btn btn-primary"><i class="fas fa-edit"></i>Edit</a>
                            <a href="{% url 'delete_course' %}?pid={{c.id}}" class="btn btn-danger"><i class="fas fa-trash"></i>Delete</a>
                        </td>
                    </tr>
                    <div class="modal fade" id="m{{c.id}}">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">

                            <div class="modal-header">
                                <h4>Course Details</h4>
                                <button class="close" data-dismiss="modal">&times;</button>

                            </div>
                            <div class="modal-body">
                                <img src="/media/{{c.course_image}}" alt=""height="200"width="100%">
                                <h2>
                                    <a href="{%url  'single' %}?pid={{c.id}}">{{c.course_name}}</a>


                                </h2>
                                <p>{{c.course_category}}<!--.name}}--></p>
                                <p style="font-size: 30px;">
                                   <del> &#8377; {{c.course_price}}</del>
                                   <strong> &#8377; {{c.sale_price}}</strong>
                                </p>
                                <p>{{c.details}}</p>
                            </div>
                            <div class="modal-footer">
                               <a href="{%url  'single' %}?pid={{c.id}}" class="btn btn-success">View details</a>

                            </div>
                            </div>

                        </div>

                    </div>
                {% endfor %}
            </tbody>
        </table>
        
<div class="container">
    <div class="row">
     <div class="col-md-10  text-center " >
       <h1 class="text-danger"> {{status}}</h1>
     </div>
    </div>
  </div>

        </div>

    </div>

</div>
{% endblock %}