{% extends "base.html"%}
{%load static%}
{%block myblock%}

{% if user.is_superuser %}
<style>
    .bg{
        background:url(/static/img/c1.3.jpg); background-size: 100% 100%;
    }
    
</style>
<div class="container ">
    <div class="row ">
        <div class="col-md-12 ">
            <div class="container-fluid bg-cover mb-4   "  data-dark-overlay="6" style="background:url(/static/img/c5.jpg); background-size: 100%  100%; padding-top: 100px; padding-bottom: 75px;">
                <h1 style="background-color: antiquewhite;">sorry Mr./Miss {{user.username}} you are not allowed here</h1>
            </div>

           

        </div>

    </div>

</div>
{% else %}
<div class="container-fluid bg" >
    <div class="row bg">
        <!--left side menu-->
        <div class="col-md-2 bg-dark" id="main">
             
                
            
            <nav class="navbar navbar-dark ">
                <a href="" class="navbar-brand">MyDashboard
                    <p>{{user.username}}</p>
                </a>
                 <div class="card-header" style="color:black;background: white;">
                  {% if data.profile_pic %}
                      <img src="/media/{{data.profile_pic}}" class="card-img" alt="" style="border-radius:50%;">
                  {% else %}
                    <img src="{% static 'img/alex lebby.jpg'%}" class="card-img" alt="" style="border-radius:50%;">
                  {% endif %}
                 </div>
                
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="{% url 'instructorprofile' %}" class="nav-link">Instructor profile</a>

                    </li>
                    <li class="nav-item">
                        <a href="{% url 'courses'%}" class="nav-link">Instructor's courses</a>

                    </li>
                    <li class="nav-item">
                        <a href="{% url 'cart'%}" class="nav-link">My Cart</a>

                    </li>
                    <li class="nav-item">
                        <a href="{% url 'order_history'%}" class="nav-link">Order History</a>

                    </li>
                    
                    
                    {% if user.is_staff %}
                    <li class="nav-item">
                        <a href="{% url 'add_course_view' %}" class="nav-link">Add Course</a>
                        
                    </li>

                    <li class="nav-item">
                        <a href="{% url 'my_course' %}" class="nav-link">My Course</a>

                    </li>
                   {% endif %}
                   
                    <li class="nav-item">
                        <a href="{% url 'instructorprofile' %}" class="nav-link">View profile</a>

                    </li>
                    
                    
                    <li class="nav-item">
                        <a href= "{% url 'edit'%}" class="nav-link">Edit Profile</a>

                    </li>
                    <li class="nav-item">
                        <a href= "{% url 'sendmail'%}" class="nav-link">Send Email</a>

                    </li>
                   
                    <li class="nav-item">
                        <a href="{% url 'password' %}" class="nav-link">Reset Password</a>

                    </li>
                    
                    

                </ul>
                
            </nav>
        </div>
        
        
        
        <!--right side menu-->
        <div class="col-md-10">
            {% block dashboard%}
            {% endblock%}
        </div>

    </div>

</div>
    
{% endif %}
{% endblock%}