{% extends "base.html"%}
{% load static %}
{% block myblock %}
<style>
    .ac{
        height:50px;
        font-size: larger;
        
    }

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 mx-auto my-5 p-5 text-center" style="box-shadow: 0px 0px 10px gray;">
            <img src="{% static 'img/success.gif'%}" height="300" width="300">
            <br>
            <h1 class="alert alert-success">PAYMENT SUCCESFULL</h1>
            <div class="my-3">
                <a href="{% url 'cart' %}" class="ac btn btn-success">Continue Shopping</a>
                <a href="{% url 'wish' %}" class="ac btn btn-primary">Go to dashboard</a>

            </div>
        
        
        </div>

    </div>

</div>

{% endblock %}