{% extends "base.html"%}
{% load static %}
{% block myblock %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 mx-auto my-5 p-5 text-center" style="box-shadow: 0px 0px 10px gray;">
            <h1 class="text-warning">Click Here to Continue</h1>
            {{form.render}}
        </div>

    </div>

</div>

{% endblock %}