<!DOCTYPE html>
{% load "base.html" %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT US</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="icon/css/all.min.css">
</head>
    <body>
     <div class="py-5 bg-dark ">
        <div class="container">
         <div class="row align-items-left">
           <div class="col-md-6 text-white">
             <h2>About</h2>
           </div>
           <div class="col-md-6">
            <ol class="breadcrumb justify-content-md-end bg-transparent">  
              <li class="breadcrumb-item">
                <a href="#">Home</a>
              </li> 
              <li class="breadcrumb-item">
                <a href="#"> Elements</a>
              </li>
              <li class="breadcrumb-item">
                <a href="#"> About us</a>

               
              </li>
            </ol>
           </div>
         </div>
        </div> 
      </div>
       
       
       
       <section class="padding-y-100 border-bottom mt-5">
        <div class="container">
        <div class="row align-items-center">
    
            <div class="col-lg-5 mb-4 mr-auto text-center">
                <img class="bb.jpg" src="boy.jpg" alt="">
            </div> 
    
            <div class="col-lg-6">
                <h2>
                    <span class="text-success">Who</span> We Are
                </h2>
                <div class="width-4rem height-4 bg-primary rounded mt-4 marginBottom-40"></div>
                <p class="mb-5">
                    Nam liber tempor cum soluta nobis eleifend option congue is nihil imper iper tem por legere me that doming vulputate velit esse molestie possim wisi enim ad placerat facer possim.
                </p>
                <ul>
                    <li>
                        Professional and easy to use software
                    </li>
                    <li>
                        Setup and installations takes 30 seconds
                    </li>
                    <li>
                        Perfect for any device with pixel perfect design
                    </li>
                    <li>
                        Setup and installations really really fast
                    </li>
                  </ul>
            </div> <!-- END col-lg-6 ml-auto-->
        </div> <!-- END row-->
        </div> <!-- END container-->
       </section>
        <section class="padding-y-100">
        <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <h2>
              <span class="text-success"> What</span> We offer
            </h2>
            <div class="width-4rem height-4 bg-success rounded mt-4 marginBottom-60"></div>
            <p class="mb-5">
              Nam liber tempor cum soluta nobis eleifend option congue is nihil imper iper tem por legere me that doming vulputate velit esse molestie possim wisi enim ad placerat facer possim.
            </p>
            <div class="media mb-4">
              <i class="fas fa-user text-success  fa-2x mt-2"></i>
              <div class="media-body pl-3">
                <h4 class="h5">Work With Any Team</h4>
                <p>
                  Nam liber tempor cum soluta nobis eleifend option congue is nihil imper per tem por legere me that doming vulputate.
                </p>
              </div>
            </div>
            <div class="media mb-4">
              <i class="fas fa-cloud text-success fa-2x mt-2"></i>
              <div class="media-body pl-3">
                <h4 class="h5">A Productivity Platform</h4>
                <p>
                  Nam liber tempor cum soluta nobis eleifend option congue is nihil imper per tem por legere me that doming vulputate.
                </p>
              </div>
            </div>
          </div> <!-- END col-lg-6 ml-auto-->
          <div class="col-lg-5 mb-4 mr-auto text-center">
            <img class="wow fadeInRight w-100 rounded" src="room.jpg" alt="">
          </div> 
        </div> <!-- END row-->
        </div> <!-- END container-->
       </section>
       
       <section class="padding-y-100 bg-light">
          <div class="container p-5 py-5 mx-auto">
            <div class="row align-items-center">
              <div class="col-12 text-center">
                <h2>
                 Unique Features
                </h2>
                <div class="width-4rem height-4 bg-success rounded mt-4 marginBottom-40p mx-auto"></div>
              </div>
              <div class="col-lg-4 col-md-6 mt-1 py-5 ">
               <div class="card height-100p text-center p-5 shadow shadow-lg">
                <span class=" bg-light mx-auto">
                   <i class="fas fa-infinity  fa-2x"></i>
                 </span>
                  <h5 class="my-4">
                    Excellent Features
                  </h5>
                  <p>
                    Investig ationes demons travg vunt lectores legere lrus quod legunt saepius claritas est.
                  </p>
               </div>
              </div>
              <div class="col-lg-4 col-md-6 mt-1 py-5 ">
               <div class="card height-100p text-center p-5 shadow shadow-lg">
                <span class=" bg-light mx-auto">
                   <i class="fas fa-cloud  fa-2x"></i>
                 </span>
                  <h5 class="my-4">
                    Creative Ideas
                  </h5>
                  <p>
                    Investig ationes demons travg vunt lectores legere lrus quod legunt saepius claritas est.
                  </p>
               </div>
              </div>
              <div class="col-lg-4 col-md-6 mt-1 py-5 ">
               <div class="card height-100p text-center p-5 shadow shadow-lg">
                <span class=" bg-light mx-auto">
                   <i class="fas fa-globe  fa-2x"></i>
                 </span>
                  <h5 class="my-4">
                    Clean Code
                  </h5>
                  <p>
                    Investig ationes demons travg vunt lectores legere lrus quod legunt saepius claritas est.
                  </p>
               </div>
              </div>
              <div class="col-lg-4 col-md-6 mt-1 py-5 ">
               <div class="card height-100p text-center p-5 shadow shadow-lg">
                <span class=" bg-light mx-auto">
                   <i class="far fa-bell  fa-2x"></i>
                 </span>
                  <h5 class="my-4">
                    Fully Responsive

                  </h5>
                  <p>
                    Investig ationes demons travg vunt lectores legere lrus quod legunt saepius claritas est.
                  </p>
               </div>
              </div>
              <div class="col-lg-4 col-md-6 mt-1 py-5 ">
               <div class="card height-100p text-center p-5 shadow shadow-lg">
                <span class=" bg-light mx-auto">
                   <i class="fas fa-shopping-bag  fa-2x"></i>
                 </span>
                  <h5 class="my-4">
                    Modern Design
                  </h5>
                  <p>
                    Investig ationes demons travg vunt lectores legere lrus quod legunt saepius claritas est.
                  </p>
               </div>
              </div>
              <div class="col-lg-4 col-md-6 mt-1 py-5 ">
               <div class="card height-100p text-center p-5 shadow shadow-lg">
                <span class=" bg-light mx-auto">
                   <i class="far fa-file-alt  fa-2x"></i>
                 </span>
                  <h5 class="my-4">
                    Extensive Documentation

                  </h5>
                  <p>
                    Investig ationes demons travg vunt lectores legere lrus quod legunt saepius claritas est.
                  </p>
               </div>
              </div>
    
             
                    
    
    
            </div> <!-- END row-->
          </div> <!-- END container-->
       </section>
       
       
       
       
     <section class="padding-y-100 wow fadeIn">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center mb-4">
            <h2>
             The Executive Team
            </h2>
            <div class="width-4rem height-4 bg-primary rounded mt-4 marginBottom-40 mx-auto"></div>
          </div>
    
          <div class="col-lg-6 mt-2 wow fadeInUp">
            <div class="row">
              <div class="col-md-6 my-2">
                <img src="bb.jpg" alt="">
              </div>
              <div class="col-md-6 my-4">
                <h4 class="mb-0">
                    Natalie Paisley
                </h4>
                <p class="text-muted mb-0">
                    Founder &amp; CEO
                </p>
                <p class="my-4">
                    Nam liber tempor cum soluta nobis eleifend option congue is nihil they imper.
                </p> <ul class="list-inline">
                    
   <li class="list-inline-item">
    <a href="" class="btn btn-facebook  text-primary"><i class="fab fa-facebook-f fa-2x"></i></a>
         </li>
                    <li class="list-inline-item">
                        <a href="" class="btn btn-twitter iconbox iconbox-xs text-dark "><i class="fab fa-twitter fa-2x"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="" class="btn btn-google-plus iconbox iconbox-xs text-danger"><i class="fab fa-google fa-2x"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="" class="btn btn-linkedin iconbox iconbox-xs text-info"><i class="fab fa-linkedin-in fa-2x"></i></a>
                    </li>
                
               
            </ul>
         
                            
              </div>
            </div>
          </div>
    
          <div class="col-lg-6 mt-2 wow fadeInUp">
            <div class="row">
              <div class="col-md-6 my-2">
                <img src="s.jpg" alt="">
              </div>
              <div class="col-md-6 my-4">
                <h4 class="mb-0">
                    Anthony Brooks
                </h4>
                <p class="text-muted mb-0">
                    Senior Developer
                </p>
                <p class="my-4">
                    Nam liber tempor cum soluta nobis eleifend option congue is nihil they imper.
                </p>
                <ul class="list-inline">
                    
                        <li class="list-inline-item">
                          <a href="" class="btn btn-facebook  text-primary"><i class="fab fa-facebook-f fa-2x"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="" class="btn btn-twitter iconbox iconbox-xs text-dark "><i class="fab fa-twitter fa-2x"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="" class="btn btn-google-plus iconbox iconbox-xs text-danger"><i class="fab fa-google fa-2x"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="" class="btn btn-linkedin iconbox iconbox-xs text-info"><i class="fab fa-linkedin-in fa-2x"></i></a>
                        </li>
                    
                   
                </ul>
              </div>
            </div>
          </div>
    
          <div class="col-lg-6 mt-2 wow fadeInUp">
            <div class="row">
              <div class="col-md-6 my-2">
                <img src="t.jpg" alt="">
              </div>
              <div class="col-md-6 my-4">
                <h4 class="mb-0">
                    Philip Demarco
                </h4>
                <p class="text-muted mb-0">
                    Designer
                </p>
                <p class="my-4">
                    Nam liber tempor cum soluta nobis eleifend option congue is nihil they imper.
                </p><ul class="list-inline">
                    <li class="list-inline-item">
                      <a href="" class="btn btn-facebook  text-primary"><i class="fab fa-facebook-f fa-2x"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="" class="btn btn-twitter iconbox iconbox-xs text-dark "><i class="fab fa-twitter fa-2x"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="" class="btn btn-google-plus iconbox iconbox-xs text-danger"><i class="fab fa-google fa-2x"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="" class="btn btn-linkedin iconbox iconbox-xs text-info"><i class="fab fa-linkedin-in fa-2x"></i></a>
                    </li>
                </ul>
                              </div>
            </div>
          </div>
    
          <div class="col-lg-6 mt-2 ">
            <div class="row">
              <div class="col-md-6 my-2">
                <img src="m.jpg" alt="">
              </div>
              <div class="col-md-6 my-4">
                <h4 class="mb-0">
                    Peter Spenser
                </h4>
                <p class="text-muted mb-0">
                    Creative Developer
                </p>
                <p class="my-4">
                    Nam liber tempor cum soluta nobis eleifend option congue is nihil they imper.
                </p>
                <ul class="list-inline">
                    <li class="list-inline-item">
                      <a href="" class="btn btn-facebook  text-primary"><i class="fab fa-facebook-f fa-2x"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="" class="btn btn-twitter iconbox iconbox-xs text-dark "><i class="fab fa-twitter fa-2x"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="" class="btn btn-google-plus iconbox iconbox-xs text-danger"><i class="fab fa-google fa-2x"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="" class="btn btn-linkedin iconbox iconbox-xs text-info"><i class="fab fa-linkedin-in fa-2x"></i></a>
                    </li>
                </ul>
              </div>
              
            </div>
          </div>
          </div> <!-- END row-->
      </div> <!-- END container-->
    </section>
       
       
       
       
       
       <section class="padding-y-100 bg-light">
        <div class="container">
            <div class="row">			
            <div class="col-12 text-center mt-5">
                <h2 class="h1">
                    Why We are the <span class="text-success">Best</span>
                    <div class="width-4rem height-4 bg-primary rounded mt-4 marginBottom-40 mx-auto"></div>
                </h2>
            </div>
                <div class="col-lg-6 mt-4 pr-lg-5">
                    <p class="mb-4">
                        Nam liber tempor cum soluta nobis eleifend option congue is nihil imper  per tem por legere me that doming vulputate velit esse molestie  possim wisi enim ad placerat facer possim assum minim there veniam, nostrud exerci tation ullamcorper quis nostrud.
                    </p>
                    <p class="list-unstyled list-style-icon list-icon-check-circle">
                        <li>
                            Listen to Social Conversations
                        </li>
                        <li>
                            Performance Analyze
                        </li>
                        <li>
                            A Productivity Platform
                        </li>
                        <li>
                            Work With Any Team
                        </li>
                    </p>
                </div> <!-- END col-lg-6-->
                <div class="col-md-6 mt-4">
                  <div class="mb-4">
                     <div class="d-flex justify-content-between">
                      <p>HTML &amp; CSS</p>
                      <p>90%</p>
                     </div>
<div class="progress" style="height:4px"> <div class="progress-bar bg-primary" style="width:90%" role="progressbar" aria-valuenow="90" aria-valuemin="90" aria-valuemax="100"></div>
                    </div>
                  </div>
    
                  <div class="mb-4">
                     <div class="d-flex justify-content-between">
                      <p>React angular</p>
                      <p>75%</p>
                     </div>
                    <div class="progress" style="height:4px">
<div class="progress-bar bg-success" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
    
                  <div class="mb-4">
                     <div class="d-flex justify-content-between">
                      <p>PHP</p>
                      <p>80%</p>
                     </div>
                    <div class="progress mb-4" style="height:4px">
  <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
    
                  <div class="mb-4">
                     <div class="d-flex justify-content-between">
                      <p>Laravel</p>
                      <p>75%</p>
                     </div>
                    <div class="progress mb-4" style="height:4px">
                      <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>    
                </div>
            </div> <!-- END row-->
        </div> <!-- END container-->
    </section>
       
       
       <section class="padding-y-100 bg-primary wow fadeIn">
      <div class="container">
        <div class="row">
        
         <div class="col-12 text-center mt-3 mb-3 p-4">
           <h2 class="text-white">
            What Our People Say
           </h2>
         </div>
         
         <div class="col-md-10 mx-auto">
            <div class=" slideshow container">
              
             
              <div class="card card-body p-lg-5 text-center" style="mySlides fade">
                 <img src="m.jpg" alt="">
                <div class="my-4">
                         <h6>
                  Kenelia Deshmukh
                </h6>
                <p class="text-gray mb-0">
                  Creative Director
                </p>
                </div>
                <p class="mb-0 lead text-dark">
                  Nam liber tempor cum soluta nobis eleifend option congue is nihil imper per tem por legere me doming vulputate velit esse molestie possim. Ut wisi enim ad placerat facer Ut wisi enim ad placerat facer.
                </p>
              </div>
             
              <div class="card card-body p-lg-5 text-center">
                 <img class="iconbox iconbox-xxxl mx-auto z-index-10" src="s.jpg" alt="">
                <div class="my-4">
                 <h6>
                  Kenelia Deshmukh
                </h6>
                <p class="text-gray mb-0">
                  Creative Director
                </p>
                </div>
                <p class="mb-0 lead text-dark">
                  Nam liber tempor cum soluta nobis eleifend option congue is nihil imper per tem por legere me doming vulputate velit esse molestie possim. Ut wisi enim ad placerat facer Ut wisi enim ad placerat facer.
                </p>
              </div>
             
              <div class="card card-body p-lg-5 text-center">
                 <img class="iconbox iconbox-xxxl mx-auto z-index-10" src="t.jpg" alt="">
                <div class="my-4">
                 <h6>
                  Ema Watson
                </h6>
                <p class="text-gray mb-0">
                  Creative Director
                </p>
                </div>
                <p class="mb-0 lead text-dark">
                  Nam liber tempor cum soluta nobis eleifend option congue is nihil imper per tem por legere me doming vulputate velit esse molestie possim. Ut wisi enim ad placerat facer Ut wisi enim ad placerat facer.
                </p>
              </div>
              
            </div>
          </div> <!-- END col-12 -->
        </div>  <!-- END row--> 
      </div> <!-- END container-->
    </section>
    
    
    
    
       
       
    
      
    
    
      
</head>
<body>
    
</body>
</html>