{% extends "dashboard_base.html" %}
{% load static %}
{% block dashboard %}
<style>
    
label{
    width: 90%;height:25px;padding:5px ;margin-left: 0px;
}
.i{
    width: 90%;height:25px;padding:20px ;margin-left: 0px;  
}
h2{
    color: black;text-align: center;margin-top: 0%;
}
.f{
    width: 400px;background: white;padding: 50px;margin-top: 2%;height: 470px;
    font-size: 13px; font-weight: bold;
}
::placeholder{
    color: black;opacity: 0.5;
}
.form{
    box-shadow: 20px 20px 50px #886788;
}.bg
            {
          background: url("{% static 'img/b.jpg' %}");
          background-size: cover;
          color:black;
          
                
            }
    
        input[type="text"]:focus{
outline: none;
box-shadow: 0px 0px 5px #00CB54;
border:1px solid #00CB54;
}
input[type="tel"]:focus{
outline: none;                   
box-shadow: 0px 0px 5px #00CB54;
border:1px solid #00CB54;
}
#vv:focus{
outline: none;
box-shadow: 0px 0px 5px #00CB54;
border:1px solid #00CB54;
}

input[type="email"]:focus{
outline: none;
box-shadow: 0px 0px 5px #00CB54;
border:1px solid #00CB54;
}
.btn-success{
    background-color: #02cc26!important;
    border-color: #02cc26!important;
}
.btn-danger{
    background-color:#fd3635!important ;
    border-color: #fd3635!important;
}
.btn{
    padding:0.625rem 1.25rem;
    transition:.3s;
    font-weight: 500;
    
    line-height: 1.5;
    border-radius: .25rem;
    font-size: 1rem;
    display: inline-block;
}
.m-2{
    margin: .5rem!important;
}
.my-5{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.mt-4, .my-4{
    margin-top: 1.5rem!important;
}
.align-items-end{
    -webkit-box-align:end!important;
    align-items: flex-end!important;
}
.position-relative{
    position: relative;
}
img{

}
.as-parent{
    width: 100%;
    height:100%;
}
input:not([type=submit]):not([type=checkbox]), select, textarea{
    transition: all .3s;
    
}
p{
    line-height: 1.76;
    margin-top: 0;
    margin-bottom: 1rem;
}
a{
    color: inherit;
    text-decoration: none;
    background-color: transparent;
}
.btn-outline-primary{
    background-color: transparent;
    border-color:#00CB54 ;
    color: #00CB54;
}
.btn-outline-primary:hover{
background-color: #00CB54;
}
.position-absolute{
    position: absolute;
}
.opacity-0{
    opacity: 0;
}
.vt{
    display: inline-block;
}
       

 </style>
  <div class="container-fluid bg">
    <div class="row text-white" style="background: rgba(0,0,0,0.5); padding: 50px 0px;">
        <div class="col-md-12 py-5 text-center text-light px-0">
            <h1 style="font-size:xxx-large;"><i class="fas fa-lock mx-3" style="font-size: xxx-large; color: white;"></i>Security Settings</h1>
             
            </div>
    </div>
 

<div class="container">
    <div class="row">
        <div class="col-md-5 p-4 bg-light mx-auto shadow shadow-lg  my-5">
            <form action="" method="post" class="f" >
                {% csrf_token %}    
                    <h2>Get Your Password</h2><hr>
                    {% if msz %}
                    <div class="alert {{col}}">
                        {{msz}}
                    </div>
                    {% endif %}
                    <div class="form-group">
                        <label>Current Password</label>
                        <div class="input-group">
                            <div class="input-group-append shadow">
                                <span class="input-group-text shadow">
                                    <i class="fas fa-eye" style="font-size: 15px;"></i>
                                </span>
                            </div>
                        
                        <input type="password" placeholder="Current Password"
                        class="form-control i shadow" name="cpwd" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label> New Password</label>
                        <div class="input-group">
                            <div class="input-group-append shadow">
                                <span class="input-group-text shadow">
                                    <i class="fas fa-eye" style="font-size: 15px;"></i>
                                </span>
                            </div>
                        
                        <input type="password" placeholder="New Password"
                        class="form-control i shadow" required name="npwd" id="pas" onkeyup="check_pass()">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Confirm Password</label>
                        <div class="input-group">
                            <div class="input-group-append shadow">
                                <span class="input-group-text shadow">
                                    <i class="fas fa-key" style="font-size: 15px;"></i>
                                </span>
                            </div>
                        
                        <input type="password" placeholder="Confirm New Password"
                        class="form-control i shadow" required id="cpas" onkeyup="check_pass()">
                        </div>
                    </div>
                    
<div class="form-group">
    <button class="btn btn-success my-4" id="sbbtn">Reset Password</button>
</div>                </form>
        </div>
    </div>
</div>
<script>
    function check_pass(){
        let p = $("#pas").val();
        let cp = $("#cpas").val();
        if (p==cp){
            $("#pas").css("border","1px solid green");
            $("#cpas").css("border","1px solid green");
            //$("#pas").removeClass("alert alert-danger").addClass("alert alert-success");
            //$("#cpas").removeClass("alert alert-danger").addClass("alert alert-success");
            $("#sbbtn").removeAttr("disabled");


        }else{
            $("#pas").css("border","1px solid red");
            $("#cpas").css("border","1px solid red");
            //$("#pas").removeClass("alert alert-success").addClass("alert alert-danger");
            //$("#cpas").removeClass("alert alert-success").addClass("alert alert-danger");

            $("#sbbtn").attr("disabled","disabled");
        }

    }
</script>
{% endblock %}