{% extends "base.html" %}
{% load static %}
{% block head %}
<style>
    th,td{
        width: 30%;
    }
</style>
{% endblock%}
{% block myblock %}

<div class="container-fluid" style="background:url(/static/img/i2.jfif); background-size: 100% 100%;">
    <div class="row py-5" style="background:rgba(0,0,0,0.5)">
        <div class="col-md-12 py-5 my-5 text-light text-center font-weight-bold text-uppercase">
            <h1>Course Details</h1>

        </div>

    </div>

</div>
<div class="container-fluid">
    <div class="row py-4">
        <div class="col-md-8 ">
            <div class="text-center p-4">
            <img src="/media/{{course.course_image}}" alt="No Image" style="height:300px; width:80%;">
        </div>
        <table class="table">
            <tbody>
                <tr>
                    <th>COURSE ID</th>
                    <td>{{course.id}}</td>
                </tr>
                <tr>
                    <th>COURSE NAME</th>
                    <td>{{course.course_name}}</td>
                </tr>
                <tr>
                    <th>MARKET PRICE</th>
                    <td><del>&#8377;{{course.course_price}}</del></td>
                </tr>
                <tr>
                    <th>OFFERED PRICE</th>
                    <td>&#8377;{{course.sale_price}}
                    <script>
                        let t = "{{course.course_price}}";
                        let s = "{{course.sale_price}}";
                        let dis = 100-((s/t)*100);
                        document.write("<strong class='text-danger'>("+Math.round(dis,2)+"%)</strong>");
                    </script>
                    </td>
                </tr>
                <tr>
                    <th>COURSE DESCRIPTION</th>
                    <td>&#8377;{{course.details}}</td>
                </tr>
            
            
            
            </tbody>
        </table>
        
        
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h4>Instructor Details</h4>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <tr>
                                <th>First Name</th>
                                <td>{{course.users.first_name}}</td>
                            </tr>
                            <tr>
                                <th>Last Name</th>
                                <td>{{course.users.last_name}}</td>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <td>{{course.users.email}}</td>
                            </tr>
                            <tr>
                                <th>Member Since</th>
                                <td>{{course.users.date_joined}}</td>
                            </tr>
                        </table>

                    </div>

                </div>
                <h4 class="alert alert-secondary">Category Details</h4>
                <table class="table">
                    <tr>
                        <th>Category Id</th>
                        <td>{{course.course_category.id}}</td>
                    </tr>
                    <tr>
                        <th>Category Name</th>
                        <td>{{course.course_category.name}}</td>
                    </tr>
                    <tr>
                        <th>Category Image</th>
                        <td>
                            <img src="/media/{{course.course_category.cover_pic}}" style="width:200px;height: 150px;">
                        </td>
                    </tr>
                    <tr>
                        <th>Category Description</th>
                        <td>
                            {{course.course_category.description}}
                        </td>
                    </tr>
                
                
                </table>

            </div>

    </div>

</div>

{% endblock %}
