{% extends "dashboard_base.html"%}
{% load static%}
{% block dashboard %}  

<style>
.a{
     background: rgba(163, 216, 163,0.9);border-radius: 50%;font-size: 16px ;padding: 10px;
 } 
 .ab{
     font-size: 26px;padding: 10px;border-radius: 50%;
 }
 .img:hover{
     background: mediumseagreen;
 }
 .monu{
      background: white;
 }
 .monu:hover{
      background:darkgreen;color:white;
 }
 .cl{
      font-size: 10px;
 }
 .insimg{
      border-radius: 50% ;
 }
</style>
 <div class="mx-auto" style="background: url(/static/img/c1.3.jpg); background-size: 100% 100%; padding-top:60px;padding-bottom: 50px;">
      <div class="container">
           <div class="row align-item-center">
                <div class="col-md-10 text-white my-2 ">
                     <!-- <ol class="list-inline"> -->
                        <!-- <li  class="list-inline-item"><a href="">Home>></a></li>
                        <li  class="list-inline-item"><a href="">Courses>></a></li>
                        <li  class="list-inline-item" style="color: lightslategrey;">Details</li> -->
                        <h1 >Courses Details</h1>
                     <!-- </ol> -->
                </div>
                <form class="col-md-5 my-2 ">
                      <div class="input-group bg-white rounded p-1">
                           <input type="text" class="form-control border-white " placeholder="What do you want to learn ?">
                                <div class="input-group-append">
                                     <button  class="btn btn-info rounded " type="submit">search
                                           <i class="fas fa-angle-right text-white "></i>
                                     </button>
                                </div>
                      </div>
                </form>
           </div>
      </div>
 </div>
 <div class="container">`
      <div class="row  align-item-center">
           <div class="col-md-6"  style=" margin-top: -55px;">
                <ul class="list-inline py-2 px-4 bg-light rounded-pill">
                    <li class="list-inline-item ">Share  this course :</li>
                    <li class="list-inline-item mx-0 "><a  class="btn btn-success a" href=""><i class="fab fa-facebook m-1"></i></a></li>
                    <li class="list-inline-item mx-0"><a class="btn btn-success a" href=""><i class="fab fa-twitter  m-1"></i></a></li>
                    <li class="list-inline-item mx-0"><a class="btn btn-success a" href=""><i class="fab fa-linkedin m-1 "></i></a></li>
                    <li class="list-inline-item mx-0"><a class="btn btn-success a" href=""><i class="fab fa-google-plus  m-1"></i></a></li>
                </ul></div>
               
      </div> 
 </div> 



 <div class="container">
      <div class="row">
           <div class="col-md-12">
                <h2>{{course.course_name}}</h2>
                    <div class="row mt-3">
                         <div class="col-md-3 border-right ">
                              <div class=" media  height-100p">
                                   <div class="ml-3">
                                   <img src="{% static 'img/c6.1.jpg'%}" height="50px" width="50px" style="border-radius:50% " alt=""><br/>
                                   </div>    
                                   <div class="media-body ml-2">
                                             <span class="text-gray display-inline-block">Instructor:</span>
                                             <a href=""><h6>{{course.users.first_name}}</h6></a>
                                        </div>
                              </div>
                         </div> 
                         <div class="col-md-3 border-right">
                              <span class="text-gray   display-inline-block">Categories:</span>
                              <a href=""><h6>Development</h6></a>
                         </div>
                         <div class="col-md-3  border-right ">
                              <span class="text-gray   display-inline-block">Reviews:</span>
                              <p>
                                 <i class="fas fa-star text-warning"></i>
                                 <i class="fas fa-star text-warning"></i>
                                 <i class="fas fa-star text-warning"></i>
                                 <i class="fas fa-star text-warning"></i>
                                 <i class="fas fa-star-half text-warning"></i>  
                                 <span class="text-dark">4.9</span>
                                 <span>(793)</span>                
                              </p>
                         </div> 
                         <div class="col-md-3 ">
                              <div class=" text-md-right">
                                   <h2 class="font-weight-bold  text-success ">${{course.sale_price}}</h2>
                                   <form action="{% url 'cart'%}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" value="{{course.id}}" name="pid">
                                        <input type="hidden" value="1" name="qty">
                                        <button type="submit" class="btn btn-warning btn-block">
                                            <i class="fa fa-shopping-cart"></i>
                                            Add to Cart
                                        </button>
                
                                    </form>
                                
                              </div>
                         </div>
                    </div>
                    <div class="container">
                         <div class="row mt-4">
                             <div class="col-md-6">
                                 
                                   <div class="card">
                                        <h4 class="alert alert-primary">Course Details</h4>
                                    
                                    
                                 <img src="/media/{{course.course_image}}" alt="No Image" style="height:300px; width:80%;">
                             <div class="card-body">
                             <table class="table">
                                 
                                     <tr>
                                         <th>COURSE ID</th>
                                         <td>{{course.id}}</td>
                                     </tr>
                                     <tr>
                                         <th>COURSE NAME</th>
                                         <td>{{course.course_name}}</td>
                                     </tr>
                                     <tr>
                                         <th>MARKET PRICE</th>
                                         <td><del>${{course.course_price}}</del></td>
                                     </tr>
                                     <tr>
                                         <th>OFFERED PRICE</th>
                                         <td>${{course.sale_price}}
                                         <script>
                                             let t = "{{course.course_price}}";
                                             let s = "{{course.sale_price}}";
                                             let dis = 100-((s/t)*100);
                                             document.write("<strong class='text-danger'>("+Math.round(dis,2)+"%)</strong>");
                                         </script>
                                         </td>
                                     </tr>
                                     <tr>
                                         <th>COURSE DESCRIPTION</th>
                                         <td>&#8377;{{course.details}}</td>
                                     </tr>
                                 
                                 
                                 
                                 
                             </table>
                             </div>
                                   </div>
                             
                                 </div>
                                 <div class="col-md-6">
                                     <div class="card border-none">
                                          <div class="card">
                                         <div class="card-header">
                                             <h4 class="alert alert-danger">Instructor Details</h4>
                                         </div>
                                         <div class="card-body">
                                             <table class="table">
                                                 <tr>
                                                     <th>First Name</th>
                                                     <td>{{course.users.first_name}}</td>
                                                 </tr>
                                                 <tr>
                                                     <th>Last Name</th>
                                                     <td>{{course.users.last_name}}</td>
                                                 </tr>
                                                 <tr>
                                                     <th>Email</th>
                                                     <td>{{course.users.email}}</td>
                                                 </tr>
                                                 <tr>
                                                     <th>Member Since</th>
                                                     <td>{{course.users.date_joined}}</td>
                                                 </tr>
                                             </table>
                     
                                         </div>
                     
                                     </div>
                                     <h4 class="alert alert-success">Category Details</h4>
                                     <table class="table">
                                         <tr>
                                             <th>Category Id</th>
                                             <td>{{course.course_category.id}}</td>
                                         </tr>
                                         <tr>
                                             <th>Category Name</th>
                                             <td>{{course.course_category.name}}</td>
                                         </tr>
                                         <tr>
                                             <th>Category Image</th>
                                             <td>
                                                 <img src="/media/{{course.course_category.cover_pic}}" style="width:200px;height: 150px;">
                                             </td>
                                         </tr>
                                         <tr>
                                             <th>Category Description</th>
                                             <td>
                                                 {{course.course_category.description}}
                                             </td>
                                         </tr>
                                     
                                     
                                     </table>
                     
                                 </div>
                     
                         </div>
                     
                     </div>
                     
                    </div>
                    
                    <div class="row mt-5"> 
                        <div class="col-md-12"> <div class="card padding-30 shadow">
                              <h4 class="ml-2">Features Includes:</h4>
                                  <ul class="list-inline mt-2">
                                      <li class="list-inline-item my-2">
                                          <i class="fas fa-headphones-alt ml-2 text-success"></i>
                                          <span class="ml-2">246 lectures</span>
                                      </li>
                                      <li class="list-inline-item my-2">
                                          <i class="fas fa-clock ml-2 text-success"></i>
                                          <span class="ml-2">27.5 Hours</span>
                                      </li>
                                      <li class="list-inline-item my-2">
                                          <i class="fas fa-user ml-2 text-success"></i>
                                          <span class="ml-2">98,250 students entrolled</span>
                                      </li>
                                      <li class="list-inline-item my-2">
                                          <i class="fas fa-sync-alt ml-2 text-success"></i>
                                          <span class="ml-2"> Lifetime access</span>
                                      </li>
                                      <li class="my-2">
                                          <i class="fas fa-crown ml-2 text-success"></i>
                                          <span class="ml-2"> Certificate of Completion</span>
                                      </li>
                                      <li class="my-2 list-inline-item">
                                          <i class="fas fa-crown ml-2 text-success"></i>
                                          <span class="ml-2">30-Day Money-Back Guarantee of Completion</span>
                                      </li>
                                  </ul> 
                         </div>
                        </div>
                    </div>
                    <div class="row">
                         <div class="col-md-12 mt-4">
                              <ul class="nav nav-tabs border-bottom mb-5" role="tablist">
                                  <li class="nav-item ">
                                       <a class="nav-link active" data-toggle="tab" href="#tabdescription">Description</a></li>
                                  <li class="nav-item">
                                       <a  class="nav-link"  data-toggle="tab" href="#tabcurriculum"> Curriculum</a></li>
                                  <li class="nav-item">
                                       <a  class="nav-link"  data-toggle="tab" href="#tabinstructors"> Instructors</a></li>
                                  <li class="nav-item">
                                       <a  class="nav-link"  data-toggle="tab" href="#tabreviews"> Reviews</a></li>

                              </ul>
                              <div class="tab-content">
                                   <div class=" tab-pane  container active" id="tabdescription">
                                        <h4>Course Description</h4>
                                        <p class="text-justify">The poineer python will provide the various type of course . The poineer provide the single course about a language . Good experienced teachers are provide by us .Teachers will provied all the essential things about the courses. Our online courses are conducted by combining asynchronous and synchronous technologies with some type of learning management system.</p>

                                        <p  class="text-justify">We teach every details about the courses. If a student wishing to enroll in a online courses then the poineer python will be the best choice .We provide the besy facility in online courses.</p>
                                        <div class="row mt-5">
                                             <div class="col-md-12">
                                                  <h4>What Will I Learn?</h4>
                                             </div>
                                             <div class="col-md-6">
                                                  <ul class="list-unstyled my-2">
                                                       <li class="list-inline-item"><i class="fas fa-check text-success"></i> Learn how to captivate your audience</li>
                                                       <li class="list-inline-item"><i class="fas fa-check text-success"></i> Get rid of negative self talk that brings you down before your presentations</li>
                                                       <li class="list-inline-item"><i class="fas fa-check text-success"></i> Take your business / job to the next level</li>
                                                       <li class="list-inline-item"><i class="fas fa-check text-success"></i> Overcome the fear of public speaking</li>
                                                  </ul>
                                             </div>
                                             <div class="col-md-6">
                                                  <ul class="list-unstyled my-2">
                                                       <li class="list-inline-item"><i class="fas fa-check text-success"></i> Learn how to captivate your audience</li>
                                                       <li class="list-inline-item"><i class="fas fa-check text-success"></i> Get rid of negative self talk that brings you down before your presentations</li>
                                                       <li class="list-inline-item"><i class="fas fa-check text-success"></i> Take your business / job to the next level</li>
                                                       <li class="list-inline-item"><i class="fas fa-check text-success"></i> Overcome the fear of public speaking</li>
                                                  </ul>
                                              </div>
                                             <div class="col-md-6">
                                                  <ul class="list-unstyled my-2">
                                                       <li class="list-inline-item "><i class="fas fa-circle cl text-success"></i> Learn how to captivate your audience</li>
                                                       <li class="list-inline-item "><i class="fas fa-circle cl text-success"></i> Get rid of negative self talk that brings you down before your presentations</li>
                                                       <li class="list-inline-item "><i class="fas fa-circle cl text-success"></i> Take your business / job to the next level</li>
                                                       <li class="list-inline-item "><i class="fas fa-circle cl text-success"></i> Overcome the fear of public speaking</li>
                                                       <li class="list-inline-item "><i class="fas fa-circle cl text-success"></i> Learn how to captivate your audience</li>
                                                  </ul>
                                             </div>
                                             <div class="col-md-6 p-2">
                                                  <ul class="list-unstyled my-2">
                                                       <li class="list-inline-item "><i class="fas fa-circle cl text-success"></i> Learn how to captivate your audience</li>
                                                       <li class="list-inline-item "><i class="fas fa-circle cl text-success"></i> Get rid of negative self talk that brings you down before your presentations</li>
                                                       <li class="list-inline-item "><i class="fas fa-circle cl text-success"></i> Take your business / job to the next level</li>
                                                       <li class="list-inline-item "><i class="fas fa-circle cl text-success"></i> Overcome the fear of public speaking</li>
                                                       <li class="list-inline-item "><i class="fas fa-circle cl text-success"></i> Learn how to captivate your audience</li>
                                                  </ul>
                                             </div>

                                        </div>      

                                   </div>
                                   <div class="tab-pane container fade" id="tabcurriculum">
                                        <div id="accordioncurriculum">
                                             <div class="accordion-item list-group mb-3">
                                                  <div class="list-group-item bg-light">
                                                       <a class="row" href="#accordioncurriculum 1" data-toggle="collapse">
                                                            <span class="col-md-8">
                                                                 <span class="text-success mr-2">
                                                                      <i class="fas fa-plus"></i>
                                                                      <i class="fas fa-minus"></i>
                                                                 </span>
                                                                 <span>
                                                                      <h6 class="d-inline-block">Getting Started</h6>
                                                                 </span>
                                                            </span>
                                                            <span class="col-md-2 text-right">
                                                                  6 Lectures
                                                            </span>
                                                            <span class="col-md-2 text-right">
                                                                   20:20
                                                            </span>
                                                       </a>
                                                  </div>
                                                  <div id="accordioncurriculum 1" class="collapse" data-target="#accordioncurriculum">
                                                       <div class="list-group-item">
                                                            <span class="row">
                                                                 <a class="col-md-8" href="">
                                                                      <i class="fas fa-play mr-3 text-success"></i>
                                                                      Introduction to getting started section
                                                                 </a>
                                                                 <span class="col-md-2 text-right text-success">
                                                                       preview
                                                                 </span>
                                                                 <span class="col-md-2 text-right">
                                                                      00:36
                                                                 </span>
                                                            </span>
                                                       </div>
                                                       <div class="list-group-item">
                                                            <span class="row">
                                                                 <a class="col-md-8" href="">
                                                                      <i class="fas fa-file mr-3 text-success"></i>
                                                                      Your First Webpage
                                                                 </a>
                                                                 <span class="col-md-2 text-right text-success">
                                                                       preview
                                                                 </span>
                                                                 <span class="col-md-2 text-right">
                                                                      2:36
                                                                 </span>
                                                            </span>
                                                       </div>
                                                       <div class="list-group-item">
                                                            <span class="row">
                                                                 <a class="col-md-8" href="">
                                                                      <i class="fas fa-play mr-3 text-success"></i>
                                                                      Creating A Full Webpage
                                                                 </a>
                                                                 <span class="col-md-2">
                                                                 
                                                                 </span>
                                                                 <span class="col-md-2 text-right">
                                                                      7:12
                                                                 </span>
                                                            </span>
                                                       </div>
                                                       <div class="list-group-item">
                                                            <span class="row">
                                                                 <a class="col-md-8" href="">
                                                                      <i class="fas fa-copy mr-3 text-success"></i>
                                                                      Accessing Elements - Files
                                                                 </a>
                                                                 <span class="col-md-2">
                                                                 
                                                                 </span>
                                                                 <span class="col-md-2 text-right">
                                                                      4:07
                                                                 </span>
                                                            </span>
                                                       </div>
                                                       <div class="list-group-item">
                                                            <span class="row">
                                                                 <a class="col-md-8" href="">
                                                                      <i class="fas fa-play mr-3 text-success"></i>
                                                                      Responding To A Click
                                                                 </a>
                                                                 <span class="col-md-2">
                                                                 
                                                                 </span>
                                                                 <span class="col-md-2 text-right">
                                                                      4:07
                                                                 </span>
                                                            </span>
                                                       </div>
                                                       <div class="list-group-item">
                                                            <span class="row">
                                                                 <a class="col-md-8" href="">
                                                                      <i class="fas fa-play mr-3 text-success"></i>
                                                                      Changing Website Content - Files
                                                                 </a>
                                                                 <span class="col-md-2">
                                                                 
                                                                 </span>
                                                                 <span class="col-md-2 text-right">
                                                                      4:07
                                                                 </span>
                                                            </span>
                                                       </div>
                                                  </div>
                                             </div>
                                             <div class="accordion-item list-group mb-3">
                                                  <div class="list-group-item bg-light">
                                                       <a class="row" href="#accordioncurriculum 2" data-toggle="collapse">
                                                            <span class="col-md-8">
                                                                 <span class=" accordion_icon text-success mr-2">
                                                                      <i class="fas fa-plus"></i>
                                                                      <i class="fas fa-minus"></i>
                                                                 </span>
                                                                 <span>
                                                                      <h6 class="d-inline-block">HTML 5</h6>
                                                                 </span>
                                                            </span>
                                                            <span class="col-md-2 text-right">
                                                                  19 Lectures
                                                            </span>
                                                            <span class="col-md-2 text-right">
                                                                   2:37:10
                                                            </span>
                                                       </a>
                                                  </div>
                                                  <div id="accordioncurriculum 1" class="collapse show" data-target="#accordioncurriculum">
                                                       <div class="list-group-item">
                                                            <span class="row">
                                                                 <a class="col-md-8" href="">
                                                                      <i class="fas fa-play mr-3 text-success"></i>
                                                                      Introduction to getting started section
                                                                 </a>
                                                                 <span class="col-md-2 text-right text-success">
                                                                       preview
                                                                 </span>
                                                                 <span class="col-md-2 text-right">
                                                                      00:36
                                                                 </span>
                                                            </span>
                                                       </div>
                                                       <div class="list-group-item">
                                                            <span class="row">
                                                                 <a class="col-md-8" href="">
                                                                      <i class="fas fa-file mr-3 text-success"></i>
                                                                      Your First Webpage
                                                                 </a>
                                                                 <span class="col-md-2 text-right text-success">
                                                                       preview
                                                                 </span>
                                                                 <span class="col-md-2 text-right">
                                                                      2:36
                                                                 </span>
                                                            </span>
                                                       </div>
                                                       <div class="list-group-item">
                                                            <span class="row">
                                                                 <a class="col-md-8" href="">
                                                                      <i class="fas fa-play mr-3 text-success"></i>
                                                                      Creating A Full Webpage
                                                                 </a>
                                                                 <span class="col-md-2">
                                                                 
                                                                 </span>
                                                                 <span class="col-md-2 text-right">
                                                                      7:12
                                                                 </span>
                                                            </span>
                                                       </div>
                                                       <div class="list-group-item">
                                                            <span class="row">
                                                                 <a class="col-md-8" href="">
                                                                      <i class="fas fa-copy mr-3 text-success"></i>
                                                                      Accessing Elements - Files
                                                                 </a>
                                                                 <span class="col-md-2">
                                                                 
                                                                 </span>
                                                                 <span class="col-md-2 text-right">
                                                                      4:07
                                                                 </span>
                                                            </span>
                                                       </div>
                                                       <div class="list-group-item">
                                                            <span class="row">
                                                                 <a class="col-md-8" href="">
                                                                      <i class="fas fa-play mr-3 text-success"></i>
                                                                      Responding To A Click
                                                                 </a>
                                                                 <span class="col-md-2">
                                                                 
                                                                 </span>
                                                                 <span class="col-md-2 text-right">
                                                                      4:07
                                                                 </span>
                                                            </span>
                                                       </div>
                                                       <div class="list-group-item">
                                                            <span class="row">
                                                                 <a class="col-md-8" href="">
                                                                      <i class="fas fa-play mr-3 text-success"></i>
                                                                      Changing Website Content - Files
                                                                 </a>
                                                                 <span class="col-md-2">
                                                                 
                                                                 </span>
                                                                 <span class="col-md-2 text-right">
                                                                      4:07
                                                                 </span>
                                                            </span>
                                                       </div>
                                                  </div>
                                             </div>
                                             <div class="accordion-item list-group mb-3">
                                                  <div class="list-group-item bg-light">
                                                       <a class="row" href="#accordioncurriculum 3" data-toggle="collapse">
                                                            <span class="col-md-8">
                                                                 <span class="text-success mr-2">
                                                                      <i class="fas fa-plus"></i>
                                                                      <i class="fas fa-minus"></i>
                                                                 </span>
                                                                 <span>
                                                                      <h6 class="d-inline-block">Bootstrap 4</h6>
                                                                 </span>
                                                            </span>
                                                            <span class="col-md-2 text-right">
                                                                  8 Lectures
                                                            </span>
                                                            <span class="col-md-2 text-right">
                                                                   40:40
                                                            </span>
                                                       </a>
                                                  </div>
                                                  <div id="accordioncurriculum 3" class="collapse show" data-target="#accordioncurriculum">
                                                       <div class="list-group-item">
                                                            <span class="row">
                                                                 <a class="col-md-8" href="">
                                                                      <i class="fas fa-play mr-3 text-success"></i>
                                                                      Introduction to getting started section
                                                                 </a>
                                                                 <span class="col-md-2 text-right text-success">
                                                                       preview
                                                                 </span>
                                                                 <span class="col-md-2 text-right">
                                                                      00:36
                                                                 </span>
                                                            </span>
                                                       </div>
                                                       <div class="list-group-item">
                                                            <span class="row">
                                                                 <a class="col-md-8" href="">
                                                                      <i class="fas fa-file mr-3 text-success"></i>
                                                                      Your First Webpage
                                                                 </a>
                                                                 <span class="col-md-2 text-right text-success">
                                                                       preview
                                                                 </span>
                                                                 <span class="col-md-2 text-right">
                                                                      2:36
                                                                 </span>
                                                            </span>
                                                       </div>
                                                       <div class="list-group-item">
                                                            <span class="row">
                                                                 <a class="col-md-8" href="">
                                                                      <i class="fas fa-play mr-3 text-success"></i>
                                                                      Creating A Full Webpage
                                                                 </a>
                                                                 <span class="col-md-2">
                                                                 
                                                                 </span>
                                                                 <span class="col-md-2 text-right">
                                                                      7:12
                                                                 </span>
                                                            </span>
                                                       </div>
                                                       <div class="list-group-item">
                                                            <span class="row">
                                                                 <a class="col-md-8" href="">
                                                                      <i class="fas fa-copy mr-3 text-success"></i>
                                                                      Accessing Elements - Files
                                                                 </a>
                                                                 <span class="col-md-2">
                                                                 
                                                                 </span>
                                                                 <span class="col-md-2 text-right">
                                                                      4:07
                                                                 </span>
                                                            </span>
                                                       </div>
                                                       <div class="list-group-item">
                                                            <span class="row">
                                                                 <a class="col-md-8" href="">
                                                                      <i class="fas fa-play mr-3 text-success"></i>
                                                                      Responding To A Click
                                                                 </a>
                                                                 <span class="col-md-2">
                                                                 
                                                                 </span>
                                                                 <span class="col-md-2 text-right">
                                                                      4:07
                                                                 </span>
                                                            </span>
                                                       </div>
                                                       <div class="list-group-item">
                                                            <span class="row">
                                                                 <a class="col-md-8" href="">
                                                                      <i class="fas fa-play mr-3 text-success"></i>
                                                                      Changing Website Content - Files
                                                                 </a>
                                                                 <span class="col-md-2">
                                                                 
                                                                 </span>
                                                                 <span class="col-md-2 text-right">
                                                                      4:07
                                                                 </span>
                                                            </span>
                                                       </div>
                                                  </div>
                                             </div>
                                             <div class="accordion-item list-group mb-3">
                                                  <div class="list-group-item bg-light">
                                                       <a class="row" href="#accordioncurriculum 4" data-toggle="collapse">
                                                            <span class="col-md-8">
                                                                 <span class="text-success mr-2">
                                                                      <i class="fas fa-plus"></i>
                                                                      <i class="fas fa-minus"></i>
                                                                 </span>
                                                                 <span>
                                                                      <h6 class="d-inline-block">JavaScript: THe Tricky Stuff</h6>
                                                                 </span>
                                                            </span>
                                                            <span class="col-md-2 text-right">
                                                                  12 Lectures
                                                            </span>
                                                            <span class="col-md-2 text-right">
                                                                   1:20:40
                                                            </span>
                                                       </a>
                                                  </div>
                                                  <div id="accordioncurriculum 4" class="collapse show" data-target="#accordioncurriculum">
                                                       <div class="list-group-item">
                                                            <span class="row">
                                                                 <a class="col-md-8" href="">
                                                                      <i class="fas fa-play mr-3 text-success"></i>
                                                                      Introduction to getting started section
                                                                 </a>
                                                                 <span class="col-md-2 text-right text-success">
                                                                       preview
                                                                 </span>
                                                                 <span class="col-md-2 text-right">
                                                                      00:36
                                                                 </span>
                                                            </span>
                                                       </div>
                                                       <div class="list-group-item">
                                                            <span class="row">
                                                                 <a class="col-md-8" href="">
                                                                      <i class="fas fa-file mr-3 text-success"></i>
                                                                      Your First Webpage
                                                                 </a>
                                                                 <span class="col-md-2 text-right text-success">
                                                                       preview
                                                                 </span>
                                                                 <span class="col-md-2 text-right">
                                                                      2:36
                                                                 </span>
                                                            </span>
                                                       </div>
                                                       <div class="list-group-item">
                                                            <span class="row">
                                                                 <a class="col-md-8" href="">
                                                                      <i class="fas fa-play mr-3 text-success"></i>
                                                                      Creating A Full Webpage
                                                                 </a>
                                                                 <span class="col-md-2">
                                                                 
                                                                 </span>
                                                                 <span class="col-md-2 text-right">
                                                                      7:12
                                                                 </span>
                                                            </span>
                                                       </div>
                                                       <div class="list-group-item">
                                                            <span class="row">
                                                                 <a class="col-md-8" href="">
                                                                      <i class="fas fa-copy mr-3 text-success"></i>
                                                                      Accessing Elements - Files
                                                                 </a>
                                                                 <span class="col-md-2">
                                                                 
                                                                 </span>
                                                                 <span class="col-md-2 text-right">
                                                                      4:07
                                                                 </span>
                                                            </span>
                                                       </div>
                                                       <div class="list-group-item">
                                                            <span class="row">
                                                                 <a class="col-md-8" href="">
                                                                      <i class="fas fa-play mr-3 text-success"></i>
                                                                      Responding To A Click
                                                                 </a>
                                                                 <span class="col-md-2">
                                                                 
                                                                 </span>
                                                                 <span class="col-md-2 text-right">
                                                                      4:07
                                                                 </span>
                                                            </span>
                                                       </div>
                                                       <div class="list-group-item">
                                                            <span class="row">
                                                                 <a class="col-md-8" href="">
                                                                      <i class="fas fa-play mr-3 text-success"></i>
                                                                      Changing Website Content - Files
                                                                 </a>
                                                                 <span class="col-md-2">
                                                                 
                                                                 </span>
                                                                 <span class="col-md-2 text-right">
                                                                      4:07
                                                                 </span>
                                                            </span>
                                                       </div>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                                   <div class=" tab-pane fade" id="tabinstructors">
                                        <h3 class="mb-5">About Instructor</h3> 
                                                <div class="row">
                                                     <div class="col-md-2">
                                                          <img class="insimg" src="{% static 'img/be.jpg'%}" height="100px" width="100px">
                                                     </div>
                                                     <div class="col-md-10">
                                                          <h5 class="text-dark"><i class="far fa-user"></i> Hasan Jubayer</h5>
                                                          <p><i class="fas fa-globe"></i> Web Developer and Instructor<br/>
                                                           &nbsp; &nbsp; 147570 studends  <i class="fas fa-book-open"></i>  20 Courses <i class="far fa-star text-warning"></i> 4.9  Average Rating (4578)</p>
                                                          <button class="btn btn-success rounded-pill">view profile</button>
                                                     </div>
                                                </div>
                                 
                                                     <div class="col-md-12 pt-5">
                                                          <h2 class="text-dark">Experience as Web Developer</h2>
                                                          <p class="text-justify  pb-3">I have an experience in python Programming.The python is a very simple languge as compare to other.I learn how to work with a team members and how to take decision.</p> 
                                                     </div>
                                                <div class="row">
                                                     <div class="col-md-2">
                                                          <img class="insimg" src="{% static 'img/gi.jpg'%}" height="100px" width="100px">
                                                     </div>
                                                     <div  class="col-md-10 ">
                                                           <h5 class="text-dark"><i class="far fa-user"></i>Alice parker</h5>
                                                           <p><i class="fas fa-globe"></i> Web Developer and Instructor<br/>
                                                             &nbsp; &nbsp; 147570 studends  <i class="fas fa-book-open"></i>  20 Courses <i class="far fa-star text-warning"></i> 4.9  Average Rating (4578)</p>
                                                           <button class="btn btn-success rounded-pill">view profile</button>
                                                     </div>
                                                </div>
                                    </div>
                                   <div class="container tab-pane fade " id="tabreviews">
                                        <div class="col-md-12 ">
                                                  <h3>Student's Feedbacks</h3>
                                                  <div class="card-header bg-white shadow" style="border: 1px solid gainsboro;">
                                                       <div class="row">
                                                            <div class="col-md-4">
                                                                 <h1 class="text-success">4.70</h1>
                                                                 <p>
                                                                       <i class="fas fa-star text-warning" ></i>
                                                                       <i class="fas fa-star text-warning"></i>
                                                                       <i class="fas fa-star text-warning"></i>
                                                                       <i class="fas fa-star text-warning"></i>
                                                                       <i class="fas fa-star text-warning"></i>
                                                                 </p>
                                                                 <p>Average Rating</p>
                                                            </div>
                                                            <div class="col-md-8">
                                                                 <p style="display: inline;">
                                                                       <i class="fas fa-star text-warning" ></i>
                                                                       <i class="fas fa-star text-warning"></i>
                                                                       <i class="fas fa-star text-warning"></i>
                                                                       <i class="fas fa-star text-warning"></i>
                                                                       <i class="fas fa-star text-warning"></i>
                                                                       <div class="progress progress-bar bg-success" role="progressbar" style="height: 10px; width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                                                      </div>
                                                                 </p>
                                                             
                                                                 <p style="display: inline;"> 
                                                                      <i class="fas fa-star text-warning" ></i>
                                                                      <i class="fas fa-star text-warning"></i>
                                                                      <i class="fas fa-star text-warning"></i>
                                                                      <i class="fas fa-star text-warning"></i>
                                                                      <i class="fas fa-star text-light"></i>
                                                                      <div class="progress progress-bar bg-success" role="progressbar" style="height: 10px; width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                                                      </div>
                                                                 </p>
                                                               
                                                                 <p style="display: inline;">
                                                                      <i class="fas fa-star text-warning" ></i>
                                                                      <i class="fas fa-star text-warning"></i>
                                                                      <i class="fas fa-star text-warning"></i>
                                                                      <i class="fas fa-star text-light"></i>
                                                                      <i class="fas fa-star text-light"></i>
                                                                  <div class="progress progress-bar bg-success" role="progressbar" style="height: 10px; width: 50%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                                                                 </div>
                                                                 </p>
                                                             
                                                                 <p style="display: inline;">
                                                                       <i class="fas fa-star text-warning" ></i>
                                                                       <i class="fas fa-star text-warning"></i>
                                                                       <i class="fas fa-star text-light"></i>
                                                                       <i class="fas fa-star text-light"></i>
                                                                       <i class="fas fa-star text-light"></i>
                                                                  <div class="progress progress-bar bg-success" role="progressbar" style="height: 10px; width: 30%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                                                                  </div>
                                                                  </p>
                                                                  
                                                                  <p style="display: inline;">
                                                                       <i class="fas fa-star text-warning" ></i>
                                                                       <i class="fas fa-star text-light"></i>
                                                                       <i class="fas fa-star text-light"></i>
                                                                       <i class="fas fa-star text-light"></i>
                                                                       <i class="fas fa-star text-light"></i>
                                                                  <div class="progress progress-bar bg-success" role="progressbar" style="height: 10px; width: 15%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                                 </div>
                                                                 </p>
                                                            </div>
                                                       </div>
                                                  </div>
                                                  <div class="card-footer bg-white ">
                                                       <div class="row">
                                                            <div class="col-md-4">
                                                                 <img src="{% static 'img/be.jpg'%}" class="card-img" style="border-radius: 50%; height:80px;width: 80px;">
                                                                 <small style="display: inline-block;">7 mon ago<br/>
                                                                 <h5 class="text-dark">Anthony Forsey</h5></small>
                                                            </div>
                                                            <div class="col-md-8">
                                                                 <p>
                                                                      <i class="fas fa-star text-warning" ></i>
                                                                      <i class="fas fa-star text-warning"></i>
                                                                      <i class="fas fa-star text-warning"></i>
                                                                      <i class="fas fa-star text-warning"></i>
                                                                      <i class="fas fa-star text-warning"></i>
                                                                 </p>
                                                                 <p>Awesome course</p>
                                                                 <p class="text-justify">It's the most supportive tutorial platform for developers and anything else..of .i'ver found online. Feels God revealed it to me, i'm forturnate the way i just saw it.</p>
                                                            </div>
                                                       </div>
                                                  </div>
                                                   <div class="card-footer bg-white ">
                                                        <div class="row">
                                                             <div class="col-md-4">
                                                                  <img src="{% static 'img/gi.jpg'%}" class="card-img" style="border-radius: 50%; height:80px;width: 80px;">
                                                                  <small style="display: inline-block;">3 mon ago<br/>
                                                                  <h5 class="text-dark">Murir Dokan</h5></small>
                                                             </div>
                                                             <div class="col-md-6">
                                                                  <p>
                                                                       <i class="fas fa-star text-warning" ></i>
                                                                       <i class="fas fa-star text-light"></i>
                                                                       <i class="fas fa-star text-light"></i>
                                                                       <i class="fas fa-star text-light"></i>
                                                                       <i class="fas fa-star text-light"></i>
                                                                      </p>
                                                                  <p>Test review lol</p>
                                                                  <p class="text-justify">It's great. Please also include at the beginning of a tutorial, the version number in case of a framework tutorial (ref Django Tutorial). It would be helpful too for the user. Thanks.</p>
                                                             </div>
                                                        </div>
                                                  </div>
                                                  <div class="card-footer bg-white p-4">
                                                        <div class="row">
                                                             <div class="col-md-4">
                                                                  <img src="{% static 'img/bo.jpg'%}" class="card-img" style="border-radius: 50%; height:80px;width: 80px;">
                                                                  <small style="display: inline-block;">1 mon ago<br/>
                                                                  <h5 class="text-dark">Justin Nam</h5></small>
                                                             </div>
                                                             <div class="col-md-8">
                                                                  <p>
                                                                       <i class="fas fa-star text-warning" ></i>
                                                                       <i class="fas fa-star text-warning"></i>
                                                                       <i class="fas fa-star text-warning"></i>
                                                                       <i class="fas fa-star text-warning"></i>
                                                                       <i class="fas fa-star text-warning"></i>
                                                                 </p>
                                                                  <p class="text-justify">This is a title of review. the developer suffer from lot's of vitamin. what about you?</p>
                                                                  <p class="text-justify">Excellent Website. It helps a lot to students as well as Professors. Admin should put questions of SAT too.</p>
                                                             </div>
                                                        </div>
                                                  </div>
                                                  <div class="card-footer bg-white p-4">
                                                        <div class="row">
                                                             <div class="col-md-4">
                                                                  <img src="{% static 'img/boy.jpg'%}" class="card-img" style="border-radius: 50%; height:80px;width: 80px;">
                                                                  <small style="display: inline-block;">1 year ago<br/>
                                                                  <h5 class="text-dark">John Doe</h5></small>
                                                             </div>
                                                             <div class="col-md-8">
                                                                  <p>
                                                                       <i class="fas fa-star text-warning" ></i>
                                                                       <i class="fas fa-star text-warning"></i>
                                                                       <i class="fas fa-star text-warning"></i>
                                                                       <i class="fas fa-star text-warning"></i>
                                                                       <i class="fas fa-star text-warning"></i>
                                                                  </p>
                                                                  <p>Best course ever</p>
                                                                  <p class="text-justify">Awesome experience I ever have of learning by Tutorial Point. An Interactive and attractive mode of learning.</p>
                                                             </div>
                                                        </div>
                                                  </div>
                                                   <div class="col-md-12 mb-5 text-center">
                                                        <button class="btn btn-outline-success">Load More</button>
                                                   </div>
                                            </div>
                                    </div>
                              </div>
                         </div>
                   </div>
           </div> 
           <!-- col-md-9 close -->
          </div>
 </div>
<div class="bg-light">
     <div class="container" style="padding-top:100px;padding-bottom: 100px; background:light;">
          <div class="row">
               <div class="col-md-10 mb-5 ">
                    <h2 class="mb-4">You May Like</h2>
                    <div class="rounded bg-success " style="width:90px; height:4px;"></div>
                    </div>
               <div class="col-lg-3 mt-5">
                    <div class="card" style="border: 0ex;">
                         <img class="rounded" src="{% static 'img/c7.1.jpg'%}" alt="">
                    <div class="card-body">
                         <a href="" class="mt-2 text-black" ><h4 >Learn Database Design With MySQL</h4></a>
                         <p class="mt-3" style="color:lightslategray"> <i class="far fa-user mr-2"></i>Andrew Mead</p>
                         <p class="mt-2">
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                            <span class="text-dark mr-1">5  </span>
                            <span style="color: lightslategray;">(4578)</span> 
                         </p>
                         <div class="border-top  p-2 ">
                              <h4><span class="text-success">$180</span></h4>
                              <a class="btn btn-success float-right rounded-pill " href=""><i class="far fa-heart "></i></a>
                         </div>
                   </div>
                   </div>
               </div> 
               <div class="col-lg-3 mt-5">
                    <div class="card" style="border: 0ex;">
                         <img class="rounded" src="{% static 'img/c7.1.jpg'%}" alt="">
                    <div class="card-body">
                        <a href="" class="mt-2 text-black" ><h4 >Visual Basic Essential Training for begainer</h4></a>
                        <p class="mt-3" style="color:lightslategray"> <i class="far fa-user mr-2"></i>Harry Ruberts</p>
                        <p class="mt-2">
                           <i class="fas fa-star text-warning"></i>
                           <i class="fas fa-star text-warning"></i>
                           <i class="fas fa-star text-warning"></i>
                           <i class="fas fa-star text-warning"></i>
                           <i class="fas fa-star text-warning"></i>
                           <span class="text-dark mr-1">5  </span>
                           <span style="color: lightslategray;">(4578)</span> 
                        </p>
                        <div class="border-top p-2">
                             <h4><span class="text-success">free</span></h4>
                             <a class="btn btn-success float-right rounded-pill " href=""><i class="far fa-heart "></i></a>
                        </div>
                    </div>
                    </div>
               </div> 
               <div class="col-lg-3 mt-5">
                    <div class="card" style="border: 0ex;">
                         <img class="rounded" src="{% static 'img/c7.1.jpg'%}" alt="">
                    <div class="card-body">
                         <a href="" class="mt-2 text-black" ><h4 >A Gentel Introduction To C++</h4></a>
                         <p class="mt-3" style="color:lightslategray"> <i class="far fa-user mr-2"></i>   Jonathon, Alex</p>
                         <p class="mt-2">
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                            <span class="text-dark mr-1">5  </span>
                            <span style="color: lightslategray;">(4578)</span> 
                         </p>
                         <div class="border-top p-2">
                              <h4><span class="text-success">$190</span></h4>
                              <a class="btn btn-success float-right rounded-pill " href=""><i class="far fa-heart "></i></a>
                         </div>                 
                    </div>
                    </div>
               </div> 
               <div class="col-lg-3 mt-5">
                    <div class="card" style="border: 0ex;">
                         <img class="rounded" src="{% static 'img/c7.1.jpg'%}" alt="">
                    <div class="card-body">
                         <a href="" class="mt-2 text-black" ><h4 >Programming Real World Best Examples</h4></a>
                         <p class="mt-3" style="color:lightslategray"> <i class="far fa-user mr-2"></i>   John Doe, Anthony Brooks</p>
                         <p class="mt-2">
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                            <span class="text-dark mr-1">5  </span>
                            <span style="color: lightslategray;">(4578)</span> 
                         </p>
                         <div class="border-top p-2">
                              <h4><span class=" text-success">$200</span></h4>
                              <a class="btn btn-success float-right rounded-pill " href=""><i class="far fa-heart "></i></a>
                         </div>
                    </div>
                    </div>
               </div> 
          </div>
    </div>
</div>
{% endblock %}