{% extends "dashboard_base.html"%}
{% load static %}
{% block dashboard %}
<style>
    form .row{
        margin-top: 2%;
    }
    
     h2{
         padding-left: 60px; 
     }
     
     .bg
            {
          background: url("{% static 'img/i2.jfif' %}");
          background-size: 100% 100%;
          color:white;
          font-size: large;
                
          
     
            }
            .shadow{
            box-shadow: 10px 10px 8px #888888;
            }
            .mo{
            box-shadow: 10px 10px 8px #888888;
            box-sizing: border-box;
            padding: 30px;  
            border: 3px solid #888888;;

        }
        .my{
            box-shadow: 10px 10px 8px #12356e;
            box-sizing: border-box;
            padding: 30px;  
            border: 3px solid #12356e;

        }
</style>


<div class="container bg">
    <div class="row ">
              
        <div class="col-md-8 mx-auto">
            <div calss="card">
            <div class="card-header shadow mo" 
                
                    <h3 class="mt-5" style="
                    color:white;
                   
                    height:100px;
                    Width:100%;
                    text-align: center;font-size: xx-large; margin-top: 4%;">DASHBOARD &gt; EDIT COURSE</h3>  
                
            
                
            </div> 
            <div class="card-body">
                <form class="my shadow" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row ">
                        <div class="col-md-12">
                            <div class="text-center">
                            <img src="/media/{{course.course_image}}" style="height: 200px;width: 40%;">
                        </div>
                        
                        <label class="mt-3">Update Image:</label>
                            
                            <input type="file" class="form-control mb-3 mt-2" name="pimg">
                        </div>
                        <div class="col-md-6">
                            <label>Course Name</label>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" name="cname" value="{{course.course_name}}">
                        </div>
                    </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Course Category</label>
                            </div>
                            <div class="col-md-6">
                                <select name="ccat" id="" class="form-control">
                            {% for i in category%}
                                {% if i.id == course.course_category.id %}
                                <option value="{{i.id}}"selected>{{i.name}}</option>
                                {% else%}
                                <option value="{{i.id}}">{{i.name}}</option>
                                {% endif %}
                            {% endfor %}
                            </select>
                            </div>
    


                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="">Course Price</label>
                        </div>
                        <div class="col-md-6">
                        <input type="number" name="cp" class="form-control" value="{{course.course_price}}">    
                        </div>



                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="">Sale Price</label>
                    </div>
                    <div class="col-md-6">
                    <input type="number" name="sp" class="form-control" value="{{course.sale_price}}">    
                    </div>



            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="">Details</label>
                </div>
                <div class="col-md-6">
                <textarea name="des" class="form-control" cols="30" rows="5">
                    {{course.details}}
                </textarea>    
                </div>



        </div>
        <div class="row">
            <div class="col-md-6">
            
            <input type="submit" class="btn btn-success" value="SAVE CHANGES">
        </div>
        </div>
                    
            
                </form>
            </div>

            
        </div>

        </div>

    </div>

</div>
{% if status %}
<script>
    alert("{{status}}");
    window.location = "update_course?pid={{id}}";
</script>
{% endif %}


{% endblock %}