{% extends "dashboard_base.html"%}
{% load static%}
{% block dashboard %}  
    <style>
        .bg{
          background:url(/static/img/v1.jpg); background-size: cover;
        }
        .bg1{
            background: rgba(0,0,0,0.1);
        }
        input[type="text"]:focus{
outline: none;
box-shadow: 0px 0px 5px #00CB54;
border:1px solid #00CB54;
}
input[type="tel"]:focus{
outline: none;                   
box-shadow: 0px 0px 5px #00CB54;
border:1px solid #00CB54;
}
input[type="password"]:focus{
outline: none;
box-shadow: 0px 0px 5px #00CB54;
border:1px solid #00CB54;
}

input[type="email"]:focus{
outline: none;
box-shadow: 0px 0px 5px #00CB54;
border:1px solid #00CB54;
}
.btn-success{
    background-color: #02cc26!important;
    border-color: #02cc26!important;
}
.btn-danger{
    background-color:#fd3635!important ;
    border-color: #fd3635!important;
}
.btn{
    padding:0.625rem 1.25rem;
    transition:.3s;
    font-weight: 500;
    font-family: "Maven Pro", sans-serif;
    line-height: 1.5;
    border-radius: .25rem;
    font-size: 1rem;
    display: inline-block;
}
.m-2{
    margin: .5rem!important;
}
.my-5{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.mt-4, .my-4{
    margin-top: 1.5rem!important;
}
.align-items-end{
    -webkit-box-align:end!important;
    align-items: flex-end!important;
}
.position-relative{
    position: relative;
}
img{

}
.as-parent{
    width: 100%;
    height:100%;
}
input:not([type=submit]):not([type=checkbox]), select, textarea{
    transition: all .3s;
    font-family: "Work Sans", sans-serif;
}
p{
    line-height: 1.76;
    margin-top: 0;
    margin-bottom: 1rem;
}
a{
    color: inherit;
    text-decoration: none;
    background-color: transparent;
}
.btn-outline-primary{
    background-color: transparent;
    border-color:#00CB54 ;
    color: #00CB54;
}
.btn-outline-primary:hover{
background-color: #00CB54;
}
.position-absolute{
    position: absolute;
}
.opacity-0{
    opacity: 0;
}
.vt{
    display: inline-block;
}
body{
    margin-top:20px;
    background:#f8f8f8
}
.bg
            {
          background: url("{% static 'img/b.jpg' %}");
          background-size: cover;
          color:black;
          
                
            }
 
    </style>
    
    
    
    <div class="container-fluid bg">
      <div class="row text-white" style="background: rgba(0,0,0,0.5); padding: 50px 0px;">
        <div class="col-md-12 py-5 text-center text-light px-0">
            <h1 style="font-size:xxx-large;color: white;"><i class="far fa-id-card mx-3" style="font-size: xxx-large; color: white;"></i>Edit Profile</h1>
             
            </div>
    </div>
       </div>
           <div class="container-fluid bg1 my-5">
              <div class="row">
                <div class="col-md-4 my-5">
                  <div class="card-header" style="color:black;background: white;">
                    
                    {% if data.profile_pic %}
                        <img src="/media/{{data.profile_pic}}" class="card-img" alt="" style="border-radius:50%;">
                    {% else %}
                      <img src="{% static 'img/profile.jpg'%}"  name="image" class="card-img" alt="" style="border-radius:50%;height: 250px;width: 250px;">
                    <br>
                    
                      {% endif %}
                   
                      <h3 class="card-title text-center">{{user.first_name}} {{user.last_name}}</h3>
    <p class="card-text text-center" >{{data.occupation}} </p>
      <ul class="list-inline" style="word-spacing: 50px; margin-top: 40px;">
       <li class="list-inline-item"><i style="color: green;margin-left: 35px;" class="far fa-user"></i>
        <h4>Students</h4>
        <p>147560</p></li>
         <li class="list-inline-item"><i style="color: green;margin-left: 35px;" class="fas fa-book-open"></i>
          <h4>Courses</h4>
          <p style="margin-left: 30px;">27</p></li>
             <li class="list-inline-item"><i style="color: green;margin-left: 35px;" class="far fa-star"></i>
              <h4>Reviwes</h4>
              <p>10467</p></li>
              </ul>
                 </div>
                    <div class="card-body" style="background:white">
                      <p>Email Address:</p>
                      <h4>{{user.email}}</h4>
                      <p>Phone:</p>
                      <h4>{{data.contact_number}}</h4>
                      <p>Location:</p>
                      <h4>{{data.city}}</h4>
                    </div>
                    <div class="card-footer" style="background: white;">
                      <p style="font-size: 20px;">Social Profile</p>
                      <div style="word-spacing: 20px;">
                          <i  style="background: blue;color: white;padding: 15px;border-radius: 50%;" class="fab fa-facebook-f"></i>
                      <i style="background: skyblue;color: white;padding: 15px;border-radius: 50%;" class="fab fa-twitter-square"></i>
                      <i style="background: red; color: white;padding: 15px;border-radius: 50%;" class="fab fa-google-plus"></i>
                      <i style="background: turquoise;color: white;padding: 15px;border-radius: 50%;" class="fab fa-pinterest-p"></i>
                    </div>
                      </div>
                  
                </div>
             
                    <div class="col-md-6 my-3 text-black " >
                      <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% if status %}
                        <div class="alert alert-primary">{{status}}</div>
                        {% endif %}
                        <div class="form-group row my-3 ">
                          <label class="col-md-3 col-form-label text-white">Profile Picture</label>
                          <div class="col-md-9">
                            <input type="file" class="form-control" name="image">
                          </div>
                        </div>
                       
                        <hr>
                               <h4 style="font-weight: bold;color: black;">
                                Manage your Account
                              </h4>
                              <div class="form-group row my-3">
                                <label class="col-md-3 col-form-label text-white">First Name</label>
                                <div class="col-md-9">
                                  <input type="text" class="form-control" name="fname" placeholder="Enter name" value="{{user.first_name}}">
                                </div>
                              </div>
                              <div class="form-group row ">
                                <label class="col-md-3 col-form-label text-white">Last Name</label>
                                <div class="col-md-9">
                                  <input type="text" class="form-control" name="lname" placeholder="Last name" value="{{user.last_name}}">
                                </div>
                              </div>
                              
                              <div class="form-group row ">
                                <label class="col-md-3 col-form-label text-white">Email</label>
                                <div class="col-md-9">
                                  <input type="email" class="form-control" name="email"placeholder="Enter email" value="{{user.email}}">
                                </div>
                              </div>
                              
                              
                            
                              
                              <div class="form-group row">
                                <label class="col-md-3 col-form-label text-white">Contact</label>
                                <div class="col-md-9">
                                  <input type="text" class="form-control" pattern="[0-9]{10}" placeholder="Enter Contact Number" title="Number must contain 10 digit only" name="contact" value="{{data.contact_number}}" >
                                </div>
                              </div> 
                              <div class="form-group row">
                                <label class="col-md-3 col-form-label text-white">Age(in years)</label>
                                <div class="col-md-9">
                                  <input type="number"  class="form-control" name="age" placeholder="Enter Age" min="15" max="99" value="{{data.age}}">
                                </div>
                              </div> 
                              
                              
                              <div class="form-group row">
                                <label class="col-md-3 col-form-label text-white">City</label>
                                <div class="col-md-9">
                                  <input type="text" value="{{data.city}}" class="form-control" placeholder="Enter City" name="city">
                                </div>

                              </div>  
                              
                              
                              <div class="form-group row">
                                <label class="col-md-3 col-form-label text-white">occupation</label>
                                <div class="col-md-9">
                                  <input type="text" value="{{data.occupation}}" class="form-control" placeholder="enter occupation" name="occ">
                                </div>
                              </div>
                               
                            
                            
                           
                           <div class="form-group row">
                             <label class="col-md-3 col-form-label text-white">Gender</label>
                             <div class="col-md-9">
                             <select name="gender" class="form-control" value="gender">
                               <option value="Male">Male</option>
                               
                               {% if data.gender == "Female" %}
                               <option value="Female" selected>Female</option>
                               {% else %}
                               <option value="Female">Female</option>
                               {% endif %}

                               {% if data.gender == "others" %}
                               <option value="Others" selected>others</option>
                               {% else %}
                               <option value="Others">others</option>
                               {% endif %}
                             </select>
                            </div>
                           </div><hr>
                           <h4 style="font-weight:bold;color: black;">
                            Social Account
                          </h4>
                         <div class="form-group row">
                           <label class="col-md-3 col-form-label text-white">Facebook</label>
                           <div class="col-md-9">
                             <input type="text" class="form-control" value="">
                           </div>
                         </div>
                         
                         <div class="form-group row">
                           <label class="col-md-3 col-form-label text-white">Twitter</label>
                           <div class="col-md-9">
                             <input type="text" class="form-control" value="">
                           </div>
                         </div> 
                         <div class="form-group row">
                            
                           <label class="col-md-3 col-form-label text-white">Linkdin</label>
                           <div class="col-md-9">
                             <input type="text" class="form-control" value="">
                           </div>
                         </div>
                         
                         <div class="form-group row">
                           <label class="col-md-3 col-form-label text-white">Google</label>
                           <div class="col-md-9">
                             <input type="text" class="form-control" value="">
                           </div>
                         </div>
                          <h4 style="font-weight: bold;color: black;">
                            About You
                          </h4>
                          <textarea class="form-control" name="about" placeholder="write about yourself">{{data.about}}</textarea>                  
                        
                          <hr>
                          <h4 class="mb-2 pb-2" style="font-weight: bold;color: black;">
                            Account Type
                          </h4>
                          <p>
                            <span class="badge badge-danger">Free</span>
                          </p><hr>
                          <div class= " form-group my-5">
                            <input type="submit" name="changeprofile" value="Save Changes" class="btn btn-success m-2" style="width: 50%;border-radius: 5px;">
                            
                        </div>
                         
                      
                         
                      

                    
                      
                
                  </form>
                </div>

              </div>
            </div>   
    
                        
                   
  
          
  
     
      
  
                      
                 
{% endblock %}